<div class="gamesBlock">
<div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/RouletteWheel.svg" style="height:400px">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span class="Casino_title" style="color:white;font-size: 50px;">ROULETTE</span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/Baccarat.svg" style="height:400px">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                       <span class="Casino_title" style="color:white;font-size: 50px;">BACCARAT</span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/BlackJack.svg" style="height:400px">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span class="Casino_title" style="color:white;font-size: 50px;">BLACKJACK</span>
                     </div>    
</div>