@{
    ViewBag.Title = "Home";
}
<style>
.smblock_01{
    text-align: center;
    font-size: 18px;
    margin-top:20px;
    margin-bottom:20px;
}

</style>
<div class="index main-content" >
    <section class="sec sec_01">
        <div class="smblock_01">
            <a href="javascript:play(false,'greedyservants',true,false);" runat="server">
                <img class="img-responsive" src="~/Content/images/RouletteWheel.svg">
                <span class="livegame-title">ROULETTE</span>
            </a>
        </div>
        <br />
        <div class="smblock_01">
            <a href="javascript:play(false,'greedyservants',true,false);" runat="server">
                <img class="img-responsive" src="~/Content/images/Baccarat.svg">
                <span class="livegame-title">BACCARAT</span>
            </a>
        </div>
        <br />
        <div class="smblock_01">
            <a href="javascript:play(false,'greedyservants',true,false);" runat="server">
                <img class="img-responsive" src="~/Content/images/BlackJack.svg">
                <span class="livegame-title">BLACKJACK</span>
            </a>
        </div>
        <br />


    </section>
    </div>
    @section AdditionalFooterScripts
    {
    <script type="text/javascript">

    </script>
    }

