<!-- Page Content-->
<div class="gamesBlock">
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/4Season.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/7thHeaven.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/AfterNightFalls.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/ANightInParis.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Athena.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/AtTheCopa.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/AtTheMovies.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/BarbaryCoast.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Birds.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/BloodEternal.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/BloodEternal.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/CharmsNClovers.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/CuriousMachine.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/DrJekyllMrHyde.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Enchanted.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/EventHorizon.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/FaFaTwins.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/FireNSteel.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Frankenslots.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/FruitZen.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/GenieFortune.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Giovanni.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Gladiator.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/GoodGirlBadGirl.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/GreedyGoblins.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Greet88.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/GypsyRose.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/HouseofFun.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/ItCameFromVenus.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/joker.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/KawaiiKitty.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Lost.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/LuckySeven.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MadderScientist.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MagicShoppe.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MamaMia.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MegaGems.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MegaGlamLife.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MoreGoldDiggin.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/MrVegas.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/ogreempire.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Pinocchio.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/PuppuLove.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/ReelsOfWealth.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/RookRevenge.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SafariSam.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SinCity.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/Slotfather2.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SlotfatherJP.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SlotsAngels.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/stampede.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SugarPop.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SugarPop2.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/SushiBar.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TheAngler.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TheExterminator.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/thenile.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TheTipsyTourist.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TheTruSheriff.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TigerClaw.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TreasureRoom.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TrueIllusions.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/TycoonsPlus.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/UnderTheBed.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/UndertheSea.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>
<div class="Slotgames" >
                        <img class="slotgameimage" runat="server" src="~/Content/images/slotgames/WeekendInVegas.jpg" >
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>                        
                     </div>            
          
</div>
@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

