@{
    ViewBag.Title = "Home";
}
<style>
    .smblock_01 img{
        width:100%;
    }
</style>
<div class="index main-content">
    <section class="sec sec_01">
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/4Season.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/7thHeaven.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/AfterNightFalls.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/ANightInParis.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Athena.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/AtTheCopa.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/AtTheMovies.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/BarbaryCoast.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Birds.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/BloodEternal.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Boomanji.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/CharmsNClovers.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/CuriousMachine.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/DrJekyllMrHyde.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Enchanted.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/EventHorizon.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/FaFaTwins.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/FireNSteel.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Frankenslots.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/FruitZen.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/GenieFortune.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Giovanni.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Gladiator.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/GoodGirlBadGirl.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/GreedyGoblins.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Greet88.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/GypsyRose.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/HouseofFun.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/ItCameFromVenus.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/joker.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/KawaiiKitty.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Lost.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/LuckySeven.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MadderScientist.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MagicShoppe.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MamaMia.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MegaGems.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MegaGlamLife.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MoreGoldDiggin.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/MrVegas.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/ogreempire.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Pinocchio.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/PuppuLove.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/ReelsOfWealth.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/RookRevenge.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SafariSam.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SinCity.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/Slotfather2.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SlotfatherJP.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SlotsAngels.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/stampede.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SugarPop.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SugarPop2.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/SushiBar.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TheAngler.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TheExterminator.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/thenile.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TheTipsyTourist.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TheTruSheriff.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TigerClaw.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TreasureRoom.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TrueIllusions.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/TycoonsPlus.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/UnderTheBed.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/UndertheSea.jpg"></a>
            </div>
            <div class="smblock_01">
                <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img class="img-responsive" src="~/Content/images/slotgames/WeekendInVegas.jpg"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        
    </section>
</div>
    @section AdditionalFooterScripts
    {
    <script type="text/javascript">

    </script>
    }

