
<!-- Page Content-->

<div class="info main-content">
    <section class="sec sec_01 bg-white">
        <div class="userinfo">
            <div class="username">
                <span class="icon icon-user"></span><span>demo user</span>
            </div>
            <div class="status center">
                <span class="icon icon-statvip0"></span>
            </div>
            <div class="phonenum right">
                <span class="icon icon-phone"></span><span>$100.00</span>
            </div>

        </div>
    </section>

    <div class="form-group">
        <form name="completionInfoForm" method="post" action="memberinfo.htm">
            <input type="hidden" value="1" name="operate">
            <div class="form-field" id="tagRealName">
                <span class="label">Fullname</span>
                <input class="input" type="text" name="realName" id="realName" maxlength="30" value="" placeholder="">
            </div>
            <div class="form-field">
                <span class="label">code</span>
                <div class="input">

                    <input class="input" type="text" id="verifyCode" name="verifyCode" value="">
                </div>
            </div>
            <div class="form-field">
                <span class="label">Phone</span>
                555 555 5555
                <input class="input" type="hidden" name="phone" maxlength="10" id="phone" placeholder="PhoneNumber" onkeyup="(this.v=function(){this.value=this.value.replace(/([^0-9-]+)|(^0+)/,'');}).call(this)">
            </div>
            <div class="form-field">
                <span class="label">Email</span>
                demo@user.com
                <input class="input" type="hidden" name="email" maxlength="60" id="email" placeholder="Email@domain.com">
            </div>
        </form>
        <script>
            var realName = "",
                hasRealName = !(realName == null || realName == "");
            if (hasRealName) {
                $("#tagRealName").hide();
                $("#showname").removeClass("hide");
            }

            $(document).ready(function () {
                $('#btnSubmit').click(function () {
                    G.toast("This is a DEMO system message.")
                });
            });


        </script>
    </div>

    <section class="sec">
        <a class="btn btn3" href="javascript:;" id="btnSubmit">OK</a>
    </section>
</div>

@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

