<!-- Page Content-->
@section AdditionalHeaderScripts
{

    <style>
        .Zebra_DatePicker_Icon_Wrapper {
            color: #000;
        }
    </style>
}

<ul class="collapsible accordion-box accountinfo_content" style="margin-top: 30px;">
       

        <li id="updatemydetails" class="">
            <div class="collapsible-header" >
                <div>
                    Account Info<i class="mdi mdi-chevron-double-up right grey-text current-slide-arrow-up"></i>
                </div>
                <div class="divider"></div>
            </div>
            <div class="collapsible-body collapsible-body-pages current-slide-open" style="display: block;">
                <!--Email Update Start-->
                
                <div class="col s12 m12 l12 update-fields-block">
                    
                        <div class="row">
                            <div class="update-email" style="display: block;">
                                <div class="input-field">                                    
                                    <span class="left-div">
                                        Customer ID
                                    </span>
                                    <span class="del-div">:</span>
                                    <span class="right-div" id="account-customer-id">1</span>                                    
                                </div>
                               
                            </div>
                        </div>
                    <div class="row">
                            <div class="update-email" style="display: block;">
                                <div class="input-field">                                    
                                    <span class="left-div">
                                        Username
                                    </span>
                                    <span class="del-div">:</span>
                                    <span class="right-div" id="account-customer-username">1</span>                                    
                                </div>
                               
                            </div>
                        </div>
                    <div class="row">
                            <div class="update-email" style="display: block;">
                                <div class="input-field">                                    
                                    <div class="left-div">
                                        Full Name
                                    </div>
                                    <div class="del-div">:</div>
                                    <div class="right-div" id="account-customer-full-name">1</div>                                    
                                </div>
                               
                            </div>
                        </div>
                    <div class="row">
                            <div class="update-email" style="display: block;">
                                <div class="input-field">                                    
                                    <div class="left-div">
                                        Cash Balance
                                    </div>
                                    <div class="del-div">:</div>
                                    <div class="right-div" id="account-customer-balance">1</div>                                    
                                </div>
                               
                            </div>
                        </div>
                    <div class="row">
                            <div class="update-email" style="display: block;">
                                <div class="input-field">                                    
                                    <div class="left-div">
                                        Currency
                                    </div>
                                    <div class="del-div">:</div>
                                    <div class="right-div" id="account-customer-currency">1</div>                                    
                                </div>
                               
                            </div>
                        </div>
                    
                   

                    <!--Messages-->
                    <!--<div ng-show="VerifyEmailPINsuccess" class="update-email-thank center-align ng-hide">
                        <h5 class="light-green-text accent-3 ng-binding">Thank you</h5>
                        <p class="profile-message-text accent-3 center-align ng-binding">Your email address has been updated.</p>
                    </div>
                    <div ng-show="VerifyEmailPINerror" class="update-email-error center-align ng-hide">
                        <h5 class="red-text accent-4 ng-binding">Oops!</h5>
                        <p class="profile-message-text accent-3 center-align ng-binding">A problem has occurred.</p>
                        <p class="profile-message-text accent-3 center-align ng-binding">
                            Please&nbsp;
                            <a ng-click="TryAgain('update-email');" class="ng-binding">Try Again</a>&nbsp;
                            or contact us on
                            
                            <a ng-if="!(clientValue.mobileOneClick)" ng-click="LiveChat();" class="ng-scope ng-binding">Live Chat</a>
                        </p>
                    </div>-->
                    
                    <!--Messages End-->
                </div>
                <!--Email Update End-->
               
                <!--Mobile Update End-->
            </div>
        </li>

        <li id="uploadmydocuments" class="">
            <div class="collapsible-header">
                <div >
                    Update Information<i class="mdi mdi-chevron-double-down right grey-text" ></i>
                </div>
                <div class="divider" ></div>
            </div>
            <div class="collapsible-body collapsible-body-pages" style="display: none;">
                
                    <div class="row">
                       <div class="input-field col s12 m12 l12 center-align">
                            <p class="uploadproof ng-binding">Account Detail</p><br>
                        </div>
                        <div class="col s12 m12 l12 update-fields-block">
                            <div class="trace-deposit">
                                <div class="input-field col s12 m4 l4">
                                    <input id="FirstName" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">FirstName *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="LastName" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">LastName *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Gender" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Gender *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Birthday" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Birthday *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="EmailAddress" type="text" class="validate ng-pristine ng-invalid ng-invalid-required" required pattern="@Html.Raw("[a-z0-9._%+-]+@[a-z0-9]+\\.[a-z]{2,}$")">
                                    <label class="ng-binding" for="reference">Email Address *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="CellPhone" maxlength="14" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Cell Phone *</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="PhoneNumber" maxlength="14" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Phone Number *</label>
                                </div>
                           </div>

                        </div>

                        <div class="row">
                       <div class="input-field col s12 m12 l12 center-align">
                            <p class="uploadproof ng-binding">Address detail</p><br>
                        </div>
                        <div class="col s12 m12 l12 update-fields-block">
                            <div class="trace-deposit">
                                <div class="input-field col s12 m4 l4">
                                    <input id="AddressLine1" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">AddressLine1 </label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="AddressLine2" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">AddressLine2 </label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="AddressLine3" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">AddressLine3</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="AddressLine4" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">AddressLine4</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Locality" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Locality</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Region" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Region</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Postcode" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Postcode</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="Country" type="text" class="validate ng-pristine ng-invalid ng-invalid-required">
                                    <label class="ng-binding" for="reference">Country</label>
                                </div>
                           </div>

                        </div>

                            <!--Messages-->
                            <div id="updatesuccess" class="trace-deposit-thank center-align ng-hide" style="display:none">
                                <h5 class="light-green-text accent-3 ng-binding">Thank you</h5>
                                <p class="profile-message-text accent-3 center-align ng-binding">Your query has been successfully submitted.</p>
                                <p class="profile-message-text accent-3 center-align ng-binding">Please allow 24-48 hours for review.</p>
                            </div>
                            <div id="updatefailure" class="trace-deposit-error center-align ng-hide" style="display:none">
                                <h5 class="red-text accent-4 ng-binding">Oops!</h5>
                                <p class="profile-message-text accent-3 center-align ng-binding">A problem has occurred.</p>
                                <p class="profile-message-text accent-3 center-align ng-binding">
                                    Please&nbsp;
                                    <a ng-click="TryAgain('trace-deposit');" class="ng-binding">Try Again</a>&nbsp;
                                    or contact us on
                                    <!-- ngIf: (clientValue.mobileOneClick) -->
                                    <!-- ngIf: !(clientValue.mobileOneClick) --><a ng-if="!(clientValue.mobileOneClick)" ng-click="LiveChat();" class="ng-scope ng-binding">Live Chat</a><!-- end ngIf: !(clientValue.mobileOneClick) -->
                                </p>
                            </div>
                            <!--Messages End-->
                            <div class="input-field col s12 m12 l12 center-align">
                                <div class="waves-effect waves-light btn profile-btn">
                                    <span onclick="editaccount();"  class="ng-binding">SUBMIT</span>
                            
                                </div>
                                </div>
                    </div>
                
                
            </div>
        </li>

        <li id="tracemydeposit" class="">
            <div class="collapsible-header" >
                <div  class="ng-binding">
                    Transaction<i class="mdi mdi-chevron-double-down right grey-text" ></i>
                </div>
                <div class="divider" ></div>
            </div>
            <div class="collapsible-body collapsible-body-pages" style="display: none;">
                    <div class="row">
                        <div class="col s12 m12 l12 collapsible-text-block">
                            <div style="float:left;margin-left:25px;"><input type="text" id="StartDate" class="form-control" placeholder="Start Date" value="" style="width:100%;height: 30px;font-size: 18px;" /></div>
                            <div style="float:left;margin-left:30px"><input type="text" id="EndDate" class="form-control" placeholder="End Date" value="" style="width:100%;height: 30px;font-size: 18px;" /></div>
                            <div style="float:left;margin-left:30px">
                                
                                <div class="waves-effect waves-light btn profile-btn">
                                    <span onclick="transactions();"  class="ng-binding">Search</span>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 collapsible-text-block">
                            <template id="transaction-header">
                                <tr  style="border:0.5px solid black; border-bottom:none;">
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Date</b></td>
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Order ID</b></td>
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Transaction</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Balance</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Pre Balance</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:25%; text-align:center"><b>Post Balance</b></td>
		                        </tr>
                            </template>
                            <template id="transaction-history-row-template">
                                <tr style="border:0.5px solid black;">
			                         <td class="transaction-date" style="padding:0.5%; border-right:0.5px solid black;" ></td>
                                     <td class="transaction-order-id" style="padding:0.5%; border-right:0.5px solid black;" ></td>
                                     <td class="transaction-summary" style="padding:0.5%; border-right:0.5px solid black;" ></td>
                                     <td class="transaction-amount" style="padding:0.5%; border-right:0.5px solid black;" ></td>
                                     <td class="transaction-pre-amount" style="padding:0.5%; border-right:0.5px solid black;" ></td>
                                     <td class="transaction-post-amount" style="padding:0.5%; border-right:0.5px solid black;" ></td>
			                           
		                          </tr>
                            </template>
                            <table class="bordered" style="border:0.5px solid black; border-bottom:none;">	
	                            <tbody class="transaction-history-body">
		                            <tr  style="border:0.5px solid black; border-bottom:none;">
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Date</b></td>
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Order ID</b></td>
			                        <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Transaction</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Balance</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Pre Balance</b></td>
                                    <td style="padding:0.5%; background-color: #4B4949; border-right:0.5px solid black; color:white; width:16%; text-align:center"><b>Post Balance</b></td>
		                        </tr>
		                            
	                            </tbody>
                            </table>
                        </div>
                    </div>
                
            </div>
        </li>
    </ul>


@section AdditionalFooterScripts
    {
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@

    <script src="~/scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/scripts/DataTables-1.9.4/extras/CurrencySorter/CurrencySort.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker@latest/dist/css/default/zebra_datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Zebra_datepicker/1.9.11/zebra_datepicker.min.js"></script>
    <script src="~/Scripts/js/accountmanagement.js"></script>
    <script>
        $(document).ready(function () {
            $(".offer-main-container").hide();
            $('#StartDate').Zebra_DatePicker({
                pair: $('#EndDate'),
                format: 'm/d/Y'
            });

            $('#EndDate').Zebra_DatePicker({
                direction: 1,
                format: 'm/d/Y'
            });

            var today = new Date();
            var yearrequire = today.getFullYear() - 18;
            var month = today.getMonth() + 1;
            var date = today.getDate();
            if (month < 10) month = "0" + month;
            if (date < 10) date = "0" + date;
            var birthdaylimit = month + "/" + date + "/" + yearrequire;

            $('#Birthday').Zebra_DatePicker({
                direction: ["01/01/1900", birthdaylimit],
                format: 'm/d/Y'
            });

            $('.collapsible-header').on('click', function () {
                var thisobj = $(this);
                
                $('.current-slide-open').slideToggle("slow", function () {
                    $('.mdi-chevron-double-up').addClass("mdi-chevron-double-down");
                    $('.mdi-chevron-double-up').removeClass("mdi-chevron-double-up");
                    
                    $(thisobj.find("i")[0]).addClass("mdi-chevron-double-up");
                    $(thisobj.find("i")[0]).removeClass("mdi-chevron-double-down");
                    //$('.current-slide-arrow-up').removeClass("current-slide-arrow-up");
                    //$(this).addClass("mdi-chevron-double-down");
                    $(this).removeClass("current-slide-open");
                    thisobj.next().slideDown();
                    thisobj.next().addClass("current-slide-open");
                });
                
            });

            var phones = [{ "mask": "(###) ###-####"}, { "mask": "(###) ###-##############"}];
            $('#PhoneNumber').inputmask({ 
                mask: phones, 
                greedy: false, 
                definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
            });
            $('#CellPhone').inputmask({ 
                mask: phones, 
                greedy: false, 
                definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
            });
            


        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function validateEmail() { 
            var result = $('#lblEmail');
            var email = document.getElementById('EmailAddress').value;
            var atpos = email.indexOf("@@");
            var dotpos = email.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
                $('#lblEmail').empty().text("Not a valid e-mail address");
                $('#lblEmail').css("color", "red");
                return false;
            }
            else {
                $('#lblEmail').empty();
                return true;
            }
        }

        function Validatenumber(e) {
            var cellPhone = document.getElementById('CellPhone').value;
            var phoneNumber = document.getElementById('PhoneNumber').value;
            var postcode = document.getElementById('Postcode').value;
            var phoneno = /^\d{10}$/;
            var zipCode = /^\d{5}$/;
            switch (e.id) {
                case e.id = "CellPhone":
                    if ((cellPhone.match(phoneno))) {
                        $('#lblCellPhone').empty();
                        return true;
                    }
                    else {
                        $('#lblCellPhone').empty().text("Not a valid phone number");
                        $('#lblCellPhone').css("color", "red");
                        return false;
                    }
                    break;
                case e.id = "PhoneNumber":
                    if ((phoneNumber.match(phoneno))) {
                        $('#lblPhone').empty();
                        return true;
                    }
                    else {
                        $('#lblPhone').empty().text("Not a valid phone number");
                        $('#lblPhone').css("color", "red");
                        return false;
                    }
                    break;

                case e.id = "Postcode":
                    if ((postcode.match(zipCode))) {
                        $('#lblpostCode').empty();
                        return true;
                    }
                    else {
                        $('#lblpostCode').empty().text("Not a valid zip code");
                        $('#lblpostCode').css("color", "red");
                        return false;
                    }
                    break;
            }
        }
    </script>
}

