@{
    ViewBag.Title = "Home";
}

<!-- Page Content-->
<div class="index main-content" style="padding-top:60px !important;background-color:#000;min-height: 70vh;">


    <div class="form-group" style="background:#000">
        
            <div class="form-field">
                <span class="icon icon-user">   </span>
                <input class="input"  style="background-color:transparent;" type="text" id="uname" maxlength="30" placeholder="CARD NUMBER" autocomplete="off" />
            </div>
            <div class="form-field">
                <span class="icon icon-password">   </span>
                <input class="input password" style="background-color:transparent;" type="password" id="pwd" maxlength="30" placeholder="PIN" autocomplete="off" />
                <span class="icon icon-eye"></span>
            </div>
        
    </div>

    <section class="sec">
        <a class="btn btn4" id="btnLogin" href="javascript:getUser();">LOGIN</a>

    </section>

</div>
<!-- MODAL 2 -->
<div class="modal exp-msg">
    <div class="modal-content  bg-trans-black">
        <p id="logintip">

        </p>
    </div>
</div>

<span id="login_name" data-value="" style="display:none;"></span>

    @section AdditionalFooterScripts
    {



<script type="text/javascript">
    $(document).ready(function () {
        $("#login_bottom").hide();
        $("#captchaImage").click(function () {
            var url = $("#captchaImage").attr("src").split("?")[0];
            G.refreshCaptcha.call(this, url);
        });
        $(".refresh-code").click(function () { $("#captchaImage").click(); });

        $(".btn-vcode").click(function () {
            login();
        });

        $("#username").keyup(function () {
            loginna = $("#username").val();
            $("#username").val(loginna.toLowerCase());
        });

        $("#password").keyup(function () {
            pwd = $("#password").val();
            $("#password").val(pwd);
        });
        $("#forgotPass").click(function () {
            $(".customer-service").animate({ bottom: '0' });
            $('.dd-blur').addClass('show');
        });
    });


    function loginTip(content, custom_function) {
        //        layer.open({content:content, skin: 'msg', time: 5, shade: true});
        $("#logintip").html(content);
        $(".exp-msg").fadeIn().click(function () {
            $(this).fadeOut(function () {
                if (custom_function) { custom_function() }
            });
        });
    }
    function checkinput() {
        var username = $("#uname").val().toLowerCase(),
            password = $("#uname").val();

        if (username == "" || password == "") {
            loginTip('Username and password must not be empty.');
            return false;
        } else {
            return true;
        }
    }
    $(function () {
        $(".icon-eye").click(function () {
            $(this).toggleClass("active");
            if ($(".password").attr("type") == "password") {
                $(".password").attr("type", "text");
            }
            else {
                $(".password").attr("type", "password");
            }
        });
        $(".btn-huy").click(function () {
            $("#verify-code").fadeOut();
        });
    });
</script>
    }

