@{
    ViewBag.Title = "Home";
}

<!-- Page Content-->
<div class="main">
    <div class="content">
        <ul data-id="----hotgames" class="rig columns-4" style="padding-top:20px;background-color:#ececee">
            <!-- ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmatic888gold"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmatic888gold.jpg">
                    <span  class="ng-binding">888 Gold</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticcaishensgold"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticcaishensgold.jpg">
                    <span  class="ng-binding">Caishen's Gold</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticpekingluck"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticpekingluck.jpg">
                    <span  class="ng-binding">Peking Luck</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticamericanblackjack"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticamericanblackjack.jpg">
                    <span  class="ng-binding">American Blackjack</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgstastystreet"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgstastystreet.jpg">
                    <span  class="ng-binding">Tasty Street</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsbikiniparty"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsbikiniparty.jpg">
                    <span  class="ng-binding">Bikini Party</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerocaribbeanholdem"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerocaribbeanholdem.jpg">
                    <span  class="ng-binding">Caribbean Hold'em</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habaneroamericanblackjack"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habaneroamericanblackjack.jpg">
                    <span  class="ng-binding">American Blackjack</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habaneroamericanbaccaratzerocommission"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habaneroamericanbaccaratzerocommission.jpg">
                    <span  class="ng-binding">American Baccarat Zero Commission</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsclassicblackjackgold"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsclassicblackjackgold.jpg">
                    <span  class="ng-binding">Classic Blackjack Gold</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerothreecardpoker"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerothreecardpoker.jpg">
                    <span  class="ng-binding">Three Card Poker</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechfunkymonkey"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechfunkymonkey.jpg">
                    <span  class="ng-binding">Funky Monkey</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habaneroblackjack3hand"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habaneroblackjack3hand.jpg">
                    <span  class="ng-binding">Blackjack 3 Hand</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechfeilongzaitian"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechfeilongzaitian.jpg">
                    <span  class="ng-binding">Fei Long Zai Tian</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechjinqianwa"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechjinqianwa.jpg">
                    <span  class="ng-binding">Jin Qian Wa</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsatlanticcityblackjackgold"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsatlanticcityblackjackgold.jpg">
                    <span  class="ng-binding">Atlantic City Blackjack Gold</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechdolphinreef"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechdolphinreef.jpg">
                    <span  class="ng-binding">Dolphin Reef</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerofacaishen"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerofacaishen.jpg">
                    <span  class="ng-binding">Fa Cai Shen</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsbreakaway"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsbreakaway.jpg">
                    <span  class="ng-binding">Break Away</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsluckykoi"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsluckykoi.jpg">
                    <span  class="ng-binding">Lucky Koi</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerofourdivinebeasts"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerofourdivinebeasts.jpg">
                    <span  class="ng-binding">Four Divine Beasts</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habaneroeuropeanroulette"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habaneroeuropeanroulette.jpg">
                    <span  class="ng-binding">European Roulette</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsluckytwins"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsluckytwins.jpg">
                    <span  class="ng-binding">Lucky Twins</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechbonusbears"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechbonusbears.jpg">
                    <span  class="ng-binding">Bonus Bears</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerocaribbeanstud"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerocaribbeanstud.jpg">
                    <span  class="ng-binding">Caribbean Stud</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechhighwaykings"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechhighwaykings.jpg">
                    <span  class="ng-binding">Highway Kings</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechbuffaloblitz"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechbuffaloblitz.jpg">
                    <span  class="ng-binding">Buffalo Blitz</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechchinesekitchen"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechchinesekitchen.jpg">
                    <span  class="ng-binding">Chinese Kitchen</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechgoldrally"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechgoldrally.jpg">
                    <span  class="ng-binding">Gold Rally</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechgreatblue"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechgreatblue.jpg">
                    <span  class="ng-binding">Great Blue</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechincajackpot"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechincajackpot.jpg">
                    <span  class="ng-binding">Inca Jackpot</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerosicbo"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerosicbo.jpg">
                    <span  class="ng-binding">Sicbo</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-playtechcaptainstreasure"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/playtechcaptainstreasure.jpg">
                    <span  class="ng-binding">Captains Treasure</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsbasketballstar"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsbasketballstar.jpg">
                    <span  class="ng-binding">Basketball Star</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsreelgems"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsreelgems.jpg">
                    <span  class="ng-binding">Reel Gems</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticgreatrhino"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticgreatrhino.jpg">
                    <span  class="ng-binding">Great Rhino</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habanerolondonhunter"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habanerolondonhunter.jpg">
                    <span  class="ng-binding">London Hunter</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsdragondance"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsdragondance.jpg">
                    <span  class="ng-binding">Dragon Dance</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetcashcamel"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetcashcamel.jpg">
                    <span  class="ng-binding">Cash Camel</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-habaneroamericanbaccarat"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/habaneroamericanbaccarat.jpg">
                    <span  class="ng-binding">American Baccarat</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsjacksorbetter"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsjacksorbetter.jpg">
                    <span  class="ng-binding">Jacks Or Better</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetlegendofloki"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetlegendofloki.jpg">
                    <span  class="ng-binding">Legend Of Loki</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-mgsgoldfactory"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/mgsgoldfactory.jpg">
                    <span  class="ng-binding">Gold Factory</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetmillioncoinsrespin"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetmillioncoinsrespin.jpg">
                    <span  class="ng-binding">Million Coins Respin</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetsuperluckyreels"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetsuperluckyreels.jpg">
                    <span  class="ng-binding">Super Lucky Reels</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmatic3kingdomsbattleofredcliffs"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmatic3kingdomsbattleofredcliffs.jpg">
                    <span  class="ng-binding">3 Kingdoms - Battle Of Red Cliffs</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetmysteryoflongwei"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetmysteryoflongwei.jpg">
                    <span  class="ng-binding">Mystery Of Longwei</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetroyalcash"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetroyalcash.jpg">
                    <span  class="ng-binding">Royal Cash</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetmillioncentshd"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetmillioncentshd.jpg">
                    <span  class="ng-binding">Million Cents Hd</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetspinorreelshd"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetspinorreelshd.jpg">
                    <span  class="ng-binding">Spin Or Reels Hd</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbettheking"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbettheking.jpg">
                    <span  class="ng-binding">The King</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmatic5lions"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmatic5lions.jpg">
                    <span  class="ng-binding">5 Lions</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmatic888dragons"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmatic888dragons.jpg">
                    <span  class="ng-binding">888 Dragons</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbethotshots"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbethotshots.jpg">
                    <span  class="ng-binding">Hot Shots</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbetdiamondwild"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbetdiamondwild.jpg">
                    <span  class="ng-binding">Diamond Wild</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-isoftbettreeoffortunes"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/isoftbettreeoffortunes.jpg">
                    <span  class="ng-binding">Tree Of Fortunes</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticroulette"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticroulette.jpg">
                    <span  class="ng-binding">Roulette</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticdiamondstrike"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticdiamondstrike.jpg">
                    <span  class="ng-binding">Diamond Strike</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticgoldrush"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticgoldrush.jpg">
                    <span  class="ng-binding">Gold Rush</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
            <li id="----hotgames-pragmaticfairytalefortune"  class="ng-scope">
                <a href="javascript:void(0);" >

                    <img  src="~/Content/images/games/pragmaticfairytalefortune.jpg">
                    <span  class="ng-binding">Fairytale Fortune</span>
                </a>
            </li>
            <!-- end ngRepeat: game in category.GameList -->
        </ul>
    </div>
    <div class="clear"></div>
</div>


@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

