@{
    ViewBag.Title = "Contact";
}
<div class="aboutus_page" style="width:100%;margin:auto">
<div class="section ">
    <span class="sec-title">Contact  us</span>
<div class="content-div center-left width100p " style="min-height: 224px;">

    <div class="details">
				<div class="lady-bg"></div>
				<div class="info">
					<div class="row">
						<img class="icon" src="~/Content/images/chat.png">
						<div class="desc">
							Customer support 24/7
						</div>
					</div>
					<div class="row">
						<img class="icon" src="~/Content/images/phone.png">
						<div class="desc">
							+555 555 5555
						</div>
					</div>
				
					<div class="row">
						<img class="icon" src="~/Content/images/mail.png">
						<div class="desc">
				            bank@tdentertainment.com
						</div>
					</div>

				</div>
			</div>

    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>
</div>
    
    </div>
<div style="clear:both"></div>
<br />
<br />
@section AdditionalFooterScripts
{
    <script type="text/javascript">

      


    </script>
}
