@{
    ViewBag.Title = "Home";
}
@Html.Partial("banner")
<style>
    .gamesBlock>div>img{
        height: auto;
    }
   /* .Slotgames img{
      height: 252px !important;
    }*/
</style>
<div class="gamesBlock">
<article class="progressive-jackpot">
                      
                     </article>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/SlotfatherJP.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span class="Game_title">
                           <h4>Slot Father</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/RookRevenge.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Rook Revenge</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/TigerClaw.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Tiger Claw</h4>
                        </span>
                     </div>    
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/AtTheCopa.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>At The Copa</h4>
                        </span>
                     </div>    

                     <article class="progressive-jackpot">
                       <h2>Top Played</h2>                       
                     </article>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/ReelsOfWealth.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Reels Of Wealth</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/SinCity.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Sin City</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/AtTheCopa.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>At The Copa</h4>
                        </span>
                     </div>     
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/MrVegas.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Mr Vegas</h4>
                        </span>
                     </div>     

                     <article class="progressive-jackpot">
                       <h2>PLAYER'S CHOICE</h2>                       
                     </article>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/GoodGirlBadGirl.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Good Girl Bad Girl</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/MegaGlamLife.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Mega Glam Life</h4>
                        </span>
                     </div>
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/KawaiiKitty.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Kawaii Kitty</h4>
                        </span>
                     </div>   
                     <div class="Slotgames" onclick="LoadReg()">
                        <img runat="server" src="~/Content/images/slotgames/SinCity.jpg">
                        <a href="javascript:play(false,'greedyservants',true,false);" runat="server"><img runat="server" src="~/Content/images/play-button-white.png"></a>
                        <span>
                           <h4>Sin City</h4>
                        </span>
                     </div>   
</div>
@section AdditionalFooterScripts
{
    <script type="text/javascript">        

</script>
}

