@{
    ViewBag.Title = "Home";
}

<!-- Page Content-->
<div class="">

    <div class="report main-content">
        <ul class="nav-tab">
            <li class="item ">
                <a href="#">
                    <span class="label">DEMO1</span>
                </a>
            </li>
            <li class="item active">
                <a href="#">
                    <span class="label">PRIZEMINE</span>
                </a>
            </li>
            <li class="item ">
                <a href="#">
                    <span class="label">DEMO2</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <span class="label">DEMO3</span>
                </a>
            </li>
        </ul>
        <table>
            <thead>
                <tr>
                    <td>Transaction ID</td>
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">1.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            PAID
                        </span>
                    </td>

                </tr>
                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">2.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            PENDING
                        </span>
                    </td>

                </tr>

                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">3.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            CANCEL
                        </span>
                    </td>
                </tr>

                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">4.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            REFUND
                        </span>
                    </td>

                </tr>

                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">1.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            CANCEL
                        </span>
                    </td>

                </tr>
                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">2.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            REFUND
                        </span>
                    </td>
                </tr>

                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">3.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            PAID
                        </span>
                    </td>

                </tr>

                <tr>

                    <td id="td_main_2">
                        <span id="lbl_main_bal" style="color:Blue;">yyyy092008560917xxx</span>
                    </td>

                    <td id="td_sb2_2">
                        <span id="lbl_sb2_bal" style="color:Blue;">2018-09-20</span>
                    </td>

                    <td id="td_sportsbook_2">
                        <span id="lbl_sportsbook_bal" style="color:Blue;">4.00</span>
                    </td>
                    <td class="fixed">
                        <span style="color: blue;">
                            PAID
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

