<div class="navbar yamm navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="list-inline-variant-1 nav navbar-nav navbar-header-social-media">
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
            <li><a href="#" class="fa-youtube"></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="~/">Home</a>
            </li>
        </ul>
        @*<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Casino", "Games")">Casino</a></li>
                        <li><a href="@Url.Action("Lotto", "Games")">Lottery</a></li>
                    </ul>
                </li>
            </ul>*@
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="@Url.Action("Casino", "Games")">Casino</a>
            </li>
        </ul>
        @*<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="@Url.Action("Lotto", "Games")">Lottery</a>
                </li>
            </ul>*@
        @*<ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="~/games/winningnumbers">Winning Numbers</a>
                </li>
            </ul>*@
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="~/home/contact">Contact Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="login dropdown" style="display:block;"><a href="~/account/login">Login</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="logout dropdown btnlogout" style="display: none;"><a href="#" onclick="unloadUser();">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="logout dropdown btnaccount" style="display: block; "><a href="#">Account <span class=" balance-text"></span></a></li>
        </ul>

        <ul class="list-inline-variant-1 nav navbar-nav navbar-right navbar-social-media">
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
            <li><a href="#" class="fa-youtube"></a></li>
        </ul>
    </div>
</div>

@section AdditionalFooterScripts
{
    <script type="text/javascript">

        function unloadUser() {

            wallet.player = null;
            $.jStorage.flush();
            $('.btnlogout').css({ 'display': 'none' });
            $('.login').css({ 'display': 'block' });
            window.location.href = $("#login").val();

        }
        $(document).ready(function () {
            var PlayerID = $.jStorage.get("PlayerID");
            if (PlayerID == null) {
                $('.btnlogout').css({ 'display': 'none' });
                $('.login').css({ 'display': 'block' });


            }
            else {
                $('.btnaccount').css({ 'display': 'block' });
                var link = $("<a>");
                link.attr("href", "#");
                link.text('Account( ' + $.jStorage.get("Name") + ' )');

                link.attr("onclick", "GetPlayerDetails()");
                $(".btnaccount").html(link);
            }

        })

        //function GetPlayerDetails() {
       
        //    wallet.getPlayerDetails();
        //}

        $('li.btnaccount a').click(function (e) {
            wallet.getPlayerDetails();

        });

    </script>
}