.bold {
    font-weight: bold !important;
}
.gold {
    color: #ffdd9b !important;
}

.mainacc .row {
    width: 100% !important;
}
.icon-home-account {
  width: 30px;
    height: 32px;
    display: block;
    float: left;
    background: url(../mobileimages/img1.png) no-repeat;
    margin: 10px 10px 0 15px;
    background-size: contain;
}
.mainacc .tabs {
    margin-bottom: 30px;
    height: 50px;
}
.side .user{
    background: #1c1c1c;
    border-bottom: 1px solid #555555;
}
.side span.loginname{
    color: #fff;
    font-size: 12px;
    padding-top: 10px;
}
.side .sidenav{
  margin-top:0;
  background: #2f2f2f;
}

.side .sidenav ul li{
  clear:both;
  width: 100%;
    height: 59px;
    border-bottom: 1px solid #2f2f2f;
    position: relative;
    margin: 0;
}
.side .sidenav ul li:hover,
.side .sidenav ul li.active {
    border-bottom: 1px solid #555555;
}
.side .sidenav ul li a {
    color: #666666;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 60px;
    text-align: center;
    background: #202020;
}
.side .sidenav ul li.active a,
.side .sidenav ul li:hover a {
  color: #fff;
    /*font-weight: bold;*/
    background: #3a3a3a;
}

.side .sidenav ul li .arrow {
    width: 10px;
    height: 14px;
    display: block;
    background: url(../images/bankpages/menu-arrow.png) no-repeat 0 0;
    position: absolute;
    top: 23px;
    right: 12px;
}
.side .sidenav ul li.active .arrow {
    width: 14px;
    height: 10px;
    background: url(../images/bankpages/menu-arrow-active.png) no-repeat 0 0;
    top: 26px;
}

.side .m-sub {
    width: 100%;
    float: right;
    background: #191919;
    display: none;
}

.side .m-sub a {
    font-weight: normal;
    background: #191919 !important;
    width: 150px !important;
    float: right;
    border-bottom: 1px solid #2e2e2e;
    color: #666666 !important;
}

.side .m-sub a.active {
    background: #242424 !important;
    color: #fff !important;
}

.side .sidenav ul li:hover .m-sub a{
  font-weight: normal !important;
}

.side .m-sub a.last {
    border-bottom: 0 none;
}

#manualdeposit .manualdeposit-tab,
#domanualdeposit .manualdeposit-tab,
#depositonline .manualdeposit-tab,
#cardpay .manualdeposit-tab,
#btcpay .manualdeposit-tab{
    width: 730px;
    height: 130px;
    background: #1d1d1d;
    overflow: hidden;
    margin: -72px auto 1px;
}

#manualdeposit .manualdeposit-tab li,
#domanualdeposit .manualdeposit-tab li,
#depositonline .manualdeposit-tab li,
#cardpay .manualdeposit-tab li,
#btcpay .manualdeposit-tab li{
    width: 146px;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
    margin:0;
}
.membercenter .choosedeposit-tab li {
    width: 121px !important;
}


#manualdeposit .manualdeposit-tab li.active,
#domanualdeposit .manualdeposit-tab li.active,
#depositonline .manualdeposit-tab li.active,
#cardpay .manualdeposit-tab li.active,
#btcpay .manualdeposit-tab li.active{
    background: linear-gradient(#4b4b4b, #3a3a3a, #262626);
    border-bottom: 2px solid #535353;
    height: 128px;
}


.membercenter .choosedeposit-tab .mlogo1{
  display: block;
  width:95px;
  height:42px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab1.png') no-repeat;
}
.membercenter .choosedeposit-tab .mlogo2{
  display: block;
  width:67px;
  height:48px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab2.png') no-repeat;
}
.membercenter .choosedeposit-tab .mlogo3{
  display: block;
  width:70px;
  height:48px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab3.png') no-repeat;
}
.membercenter .choosedeposit-tab .mlogo4{
  display: block;
  width:88px;
  height:47px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab4.png') no-repeat;
}
.membercenter .choosedeposit-tab .mlogo5{
  display: block;
  width:50px;
  height:50px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab5.png') no-repeat;
}
.membercenter .choosedeposit-tab .mlogo6{
  display: block;
  width:90px;
  height:50px;
  margin:35px auto 0;
  background: url('../images/bankpages/tab6.png') no-repeat;
}




#manualdeposit .manualdeposit-tab li a,
#domanualdeposit .manualdeposit-tab li a,
#depositonline .manualdeposit-tab li a,
#cardpay .manualdeposit-tab li a,
#btcpay .manualdeposit-tab li a{
  position:absolute;
  border:0 none;
  top: 0;
}

#manualdeposit .manualdeposit-tab li#deposit_type3 a,
#domanualdeposit .manualdeposit-tab li#deposit_type3 a,
#depositonline .manualdeposit-tab li#deposit_type3 a,
#btcpay .manualdeposit-tab li#deposit_type3 a,
#cardpay .manualdeposit-tab li#deposit_type3 a,
.choosedeposit-tab li#deposit_type3 a{
  position:absolute;
  top:0;
}

#manualdeposit .manualdeposit-tab li:hover a,
#manualdeposit .manualdeposit-tab li.active a,
#domanualdeposit .manualdeposit-tab li:hover a,
#domanualdeposit .manualdeposit-tab li.active a,
#depositonline .manualdeposit-tab li:hover a,
#depositonline .manualdeposit-tab li.active a,
#cardpay .manualdeposit-tab li:hover a,
#cardpay .manualdeposit-tab li.active a,
#btcpay .manualdeposit-tab li:hover a,
#btcpay .manualdeposit-tab li.active a{
  background: none;
}

.manualdeposit-tab li .vbar {
    width: 2px;
    height: 85px;
    background: #1a1a1a;
    display: block;
    position: absolute;
    top: 23px;
    right: 0;
}
.manualdeposit-tab li.active .vbar{
  display: none;
}

#manualdeposit .step-content{
  float:left;
}
.mainacc form {
    width: 670px;
    min-height: 400px;
    margin: 0 auto;
    padding: 35px 30px 40px;
    background: #333333;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}
.f-title {
    color: #e9c070;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
}

#manualdeposit .step-content {
  width: 500px;
    height: 50px;
    position: relative;
}

.step-desc{
  position:absolute;
  float:none;
  right:0;
  top: 30px
}

.step-desc p {
    font-size: 14px;
    margin-bottom: 10px;
}

.step-desc p .label{
  color:#666666;
}

#manualdepositform .group-form {
    width: 100%;
    min-height: 55px;
    margin: 0;
    position: relative;
}

.mainacc .group-form .input-group {
  width:auto !important;
    height: 50px;
    position: relative;
}

#manualdepositform .input-group .code{
  width:150px !important;
}

.mainacc .group-form label {
  width: 200px;
    height: 30px;
    line-height: 28px;
    display: block;
    float: left;
    margin-right: 15px;
    text-align: left;
}

#manualdepositform .input-group .code {
    float: left;
    height: 30px;
    width: 220px;
    margin-right: 35px;
}

.mainacc .group-form label.dbl-line{
  line-height:normal;
}

.form-btn{
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(#cea158, #b78b4e, #9b7143);
    float: left;
    margin: 0px 95px 0 0;
    font-weight: bold;
    cursor: pointer;
}
.aftersubmit .message {
    float: none;
    width: 380px;
}
.aftersubmit .form-btn{
  margin-top: 25px;
  margin-left: 70px;
  width:auto !important;
  padding:0 7px;
}

.form-btn:hover{
  background: linear-gradient(#cea158, #b78b4e, #9b7143);
}

.mainacc .group-form .input-group input,
.nongroup-input,
.mainacc .group-form .input-group select {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #6b6969;
    border: 0;
    text-indent: 5px;
    padding:0;
}

.mainacc .group-form .input-group.valid input,
.mainacc .group-form .input-group.valid select{
  border: 2px solid #268989;
}

.mainacc .group-form .input-group.error input,
.mainacc .group-form .input-group.error select{
  border: 2px solid #c62e2e;
}

#manualdepositform .group-form .message{
  width:100%;
}
.group-form .valid .message{
  background: none;
}

.calendar{
  width:15px;
  height: 15px;
  display: block;
  background: url('../images/bankpages/date.jpg') no-repeat 0 0;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

#depositonlineform,
.aftersubmit #cForm{
  box-shadow: none;
  /*float:left;*/
  min-height:300px;
}

#depositonline .deposit-note{
  margin:0;
}

.big-wrapper {
    width: 730px;
    min-height: 400px;
    margin: 0 auto;
    background: #333333;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}

#depositonline .deposit-note {
    margin: 0 0 0 40px;
    clear: both;
    border:0 none;
    width:550px;
}

.membercenter .deposit-note p {
    margin: 0;
    color: #999;
}
.bullet {
    width: 32px;
    height: 28px;
    display: inline-block;
    background: url(../images/bankpages/bullet.png) no-repeat;
}
.mainacc .row h1 {
  line-height: 32px;
    color: #cccccc;
    margin-bottom: 20px;
}
.mainacc .row h1.result .bullet {
    float: left;
    display: block;
    margin-right: 10px;
}

#depositresult {
    width: 600px;
    border-collapse: collapse;
}
#depositresult th {
    font-weight: normal;
    height: 40px;
    background: #232323;
    border-top: 1px solid #333333;
    border: 1px solid #3b3b3b;
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
}
#depositresult td {
    height: 40px;
    background: #2a2a2a;
    border: 1px solid #333333;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
/**
.check5 label {
    cursor: pointer;
    font-size: 12px;
    color:#fff;
    font-weight: normal;
}
.check5 a {
    color: #cdab7d !important;
    text-decoration: underline;
    font-size: 10px;
}*/
table#depositresult td .form-btn{
  margin: 0;
  float:right;
  margin-right: 150px;
}

.btc-bloc{
  width: 670px;
    min-height: 550px;
    margin: 0 auto;
    padding: 35px 30px 40px;
    background: #333333;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}

.btc-bloc .row{
  width:625px;
}
.btc-bloc .h-row{
  width:665px;
}
.btc-bloc .form-btn{
    width: auto;
    padding: 0 7px;
}


#withdraw .mainacc #withdrawForm,
#withdraw .mainacc form,
#ordinaryapplyxm .mainacc form,
#showcredit .mainacc form,
.main.logs form{
    position: absolute !important;
    box-shadow: none;
    background: none;
    min-height: 100px;
}

.main.logs form{
  position:relative;
  margin: 15px 0 !important;
    padding: 0;
    min-height:30px !important;
}

#withdraw .mainacc .content,
#ordinaryapplyxm .mainacc .content,
.main.logs .content{
    width: 670px;
    min-height: 550px;
    margin: 0 auto;
    padding: 35px 30px 40px;
    background: #333333;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}

.user-credit {
    width: 215px;
    height: 32px;
    padding: 13px 25px 0;
    background: url(../images/bankpages/acct-bg.png) no-repeat 0 0;
    margin: 0 0 20px 50px;
    font-size: 16px;
    -webkit-box-shadow: 8px 5px 14px 0px #1a1a1a;
    -moz-box-shadow: 8px 5px 14px 0px #1a1a1a;
    box-shadow: 8px 5px 14px 0px #1a1a1a;
}
.user-credit .txt1 {
    color: #999999;
    float: left;
    width: 105px;
}
.user-credit .amount {
    float: right;
    text-align: right;
}



#bank-tab li {
    width: auto;
    height: auto;
    float: left;
    margin: 0 8px 0 0;
}
#bank-tab li:hover, #bank-tab li.active {
    background: none;
}

.views {
    width: 55px;
    height: 15px;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
}
.views a {
    display: block;
    width: 18px !important;
    height: 15px !important;
    float: left;
}
.views a.c-box {
    background: url(../images/bankpages/views.png) no-repeat 0 -18px !important;
    margin-right: 7px;
}
.views a.c-list {
    background: url(../images/bankpages/views.png) no-repeat -22px 0 !important;
}

.views .active a.c-box {
  background: url(../images/bankpages/views.png) no-repeat 0 0 !important;
}

.views .active a.c-list {
  background: url(../images/bankpages/views.png) no-repeat -22px -18px !important;
}

.bank .bank-info {
  width: 275px;
    height: 150px;
    padding: 25px 15px 0;
    float: left;
    margin: 15px 20px 0 0;
    background: url(../images/bankpages/card-bg.png) no-repeat;
    -webkit-box-shadow: 8px 5px 14px 0px #2f2d2d;
    -moz-box-shadow: 8px 5px 14px 0px #2f2d2d;
    box-shadow: 8px 5px 14px 0px #2f2d2d;
    position: relative;
    z-index:5;
}

.bank-info .bank-logo {
    padding:  0;
    height: auto;
}
.bank-info .bank-logo img{
  float:left;
  height: auto;
}
.bank-info .bank-logo .icon1{
    width: 55px;
    height: 50px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon2{
    width: 60px;
    height: 62px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon3{
    width: 55px;
    height: 60px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon4{
    width: 55px;
    height: 62px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon5{
    width: 48px;
    height: 60px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon6{
    width: 55px;
    height: 55px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon7{
    width: 55px;
    height: 60px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon26{
    width: 55px;
    height: 60px;
    margin-top:-8px;
}
.bank-info .bank-logo .icon27{
    width: 50px;
    height: 60px;
    margin-top:-8px;
}


.bank-info .bc-info{
  width:215px;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 18px;
}

.bank-info .bc-info .user-data{
  height: 70px !important;
}

.bank-info .bc-info span{
  display: block;
}
.bank-info .bc-info .bank-name{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bank-info .bc-info .bank-num{
  color:#cccccc;
  margin: 0 0 15px 0;
  padding:0;
}
.bank-info .bc-info p{
    display: block;
    line-height: 18px;
    width: 100%;
    height: 20px;
}
.bank-info .bc-info .label{
  color:#aaaaaa;
  width:87px;
  float:left;
}
.bank-info .bc-info .txt{
  float:left;
}


.bank-cards-list{
  width:630px;
  min-height:295px;
  margin: 0 0 0 20px;
  background: #2e2e2e;
  border-radius:12px;
  overflow: hidden;

  -webkit-box-shadow: 6px 4px 12px -3px #1a1a1a;
  -moz-box-shadow:    6px 4px 12px -3px #1a1a1a;
  box-shadow:         6px 4px 12px -3px #1a1a1a;
}

    .bank-cards-list.wide {
        width: 95%;
        margin: 20px 20px;
    }

.bank-cards-list .list-hdr,
.bank-cards-list .list-row{
  width:100%;
  height:50px;
  background: #424242;
  border-bottom: 1px solid #555;
}

.bank-cards-list .list-hdr p{
  line-height: 50px;
  color:#cccccc;
}

.bank-cards-list .list-col{
  float:left;
}
.bank-cards-list .list-col.lc1{
  width:205px;
}
.bank-cards-list .list-col.lc2{
  width:110px;
  margin-right: 15px;
}
.bank-cards-list .list-col.lc3{
  width:285px;
}


.bank-cards-list .list-hdr .list-col.lc1{
  text-indent: 50px;
}
.bank-cards-list .list-hdr .list-col.lc2{
  text-align: center;
}
.bank-cards-list .list-hdr .list-col.lc3{
  text-align: center;
}


.bank-cards-list.wide .list-col.lc1,
.bank-cards-list.wide .list-row .list-col.lc1{
  width:150px !important;
}
.bank-cards-list.wide .list-col.lc2,
.bank-cards-list .list-row .list-col.lc2{
  width:110px !important;
  margin-right: 15px;
}
.bank-cards-list.wide .list-col.lc3,
.bank-cards-list .list-row .list-col.lc3{
  width:235px !important;
}
.bank-cards-list.wide .list-col.lc4,
.bank-cards-list .list-row .list-col.lc4{
  width:105px !important;
}
.bank-cards-list .list-row .list-col.lc4 .txt2{
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
}

.bank-cards-list .list-row{
  padding-left: 28px;
  background: none;
  
  cursor: pointer;
}
.bank-cards-list.wide .list-row{
  padding-left: 0;
}

.bank-cards-list .list-row.last{
  border-bottom: 0 none;
}

.bank-cards-list .list-row img{
  display: block;
  float:left;
}

.bank-cards-list .list-row .list-col.lc1{
  padding-top: 18px;
  width:178px;
}
.bank-cards-list.wide .list-col.lc1,
.bank-cards-list.wide .list-row .list-col.lc1{
  padding-left:15px;
}

.bank-cards-list .list-row .list-col.lc1 p{
  line-height: 40px;
  float:left;
  margin-left:5px;
}

.bank-cards-list .list-row .list-col.lc2 p{
  line-height: 52px;
  text-align: center;
  width:100%;
  color:#fff;
}
.bank-cards-list .list-row .list-col.lc3{
  padding-top:15px;
}
.bank-cards-list .list-row .list-col.lc3 p{
  display: block;
  width:100%;
  text-align: center;
  line-height: 22px;
}
.bank-cards-list .list-row .list-col.lc3 p.txt2{color:#aaa;}

.bank-cards-list.wide .list-row .list-col a{
    height: 20px;
    display: block;
    text-align: center;
    color: #f5cb75;
    width: 35px;
    border-bottom: 1px solid #f5cb75;
    margin: 30px auto;
}

#withdrawform .group-form .message {
    width: 125px;
    float: right;
    line-height: 19px;
    display: block;
    word-break: break-all;
    margin: -3px 0 0 5px;
}

.success-cont{
  padding: 40px 30px;
}

.success-cont .result,
.maintenance{
  line-height: 32px;
  color:#cccccc;
  margin-bottom: 20px;
}

.maintenance{
  font-size: 16px;
}

.check {
    width: 34px;
    height: 32px;
    display: inline-block;
    background: url(../images/bankpages/check.png) no-repeat;
}
.success-cont .result .check,
.success-cont .result .bullet,
.maintenance .icon{
  float:left;
  display: block;
  margin-right: 10px;
}

.success-cont .result .username{
  font-weight: bold;
  color:#fff;
}

.success-cont .description .form-btn{
  float:left;
  width: auto;
  padding: 0 7px;
}

#ordinaryapplyxm .xmnote{
    border: 0;
    position: absolute;
    bottom: 30px;
    margin: 0;
}
#ordinaryapplyxm .group-form .input-group select{
  padding:0;
}

#showcredit .balance.ct{
  width: 670px;
}
.balance-data{
  width:625px;
  height: 60px;
  margin-left:10px;
}

.balance-data .show-bal{
  width:244px;
  height:48px;
  padding:12px 35px 0;
  background: url('../images/bankpages/balance.png') no-repeat left top;
  float: left;
}
.balancecredit .f-title{
  margin-bottom: 25px;
}

.balance-data .show-bal .txt1 {
    color: #999999;
    float: left;
    width: 105px;
    font-size: 16px;
}
.balance-data .show-bal .amount {
    float: right;
    text-align: right;
    font-size: 16px;
}

#showcredit .btn01,
#showcredit .btn02{
    width: auto;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(#cea158, #b78b4e, #9b7143);
    float: right;
    margin: 10px 20px 0 0;
    font-weight: bold;
    cursor: pointer;
    padding: 0 7px;
}

#showcredit .btn01{
  display: none;
}
.balance-tbl{
  width:643px;
  height:420px;
  margin:20px auto 0;
  background: #2c2c2c;
  border-radius: 22px;
  overflow: hidden;
}
.balance-tbl .b-col{
  width:160px;
  height:51px;
  padding-top:18px;
  float: left;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
}

.balance-tbl .b-col.no-right-border{
  border-right: 0 none;
}
.balance-tbl .b-col.bg1{
  background: #222222;
}
.balance-tbl .b-col.bg2{
  background: #1b1b1b;
}
.balance-tbl .b-col p{
  width:100%;
  text-align: center;
}
.balance-tbl .b-col p.platform{
  font-size: 14px;
}
.balance-tbl .b-col p.amount{
  font-size: 12px;
  color:#666666;
}

.balance-tbl .b-row.last .b-col{
  border-bottom: 0 none;
}

#showcredit .content {
    width: 670px;
    min-height: 550px;
    margin: 0 auto;
    padding: 35px 30px 40px;
    background: #333333;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}
#t2-content{
  width:657px;
}
#t2-content .bal2{
  height:38px;
}
#t2-content .bal2 li{
  width:328px;
}
#t2-content .form-btn{
    clear: both;
    float: none;
    margin: 35px 0 0 30px;
}

#t2-content .bal2 li:hover a, #t2-content .bal2 li.active a {
    background: #b48d55;
    border-right: 1px solid #b48d55;
    border:0 none;
}

.transactblock{
  height:45px;
  width:100%;
}
.main.logs .box {
    background: none;
    height: 30px !important;
    min-height: 30px !important;
    padding:10px 0 !important;
}
.main.logs .info-list.m-cols{
    height: 80px !important;
    margin-top: 0 !important;
}

.main.logs .info-list{
  padding: 0 !important;
  width:auto !important;
  float:left;
}

.main.logs form label{
  width:127px;
  font-size: 14px !important;
}
.main.logs form label.long{
  width:150px !important;
}

.main.logs .info-list li {
    width: auto !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.main.logs .info-list.m-cols li{
  width: 130px !important;
}

.main.logs .info-list.m-cols li.long{
  width: 150px !important;
}

.main.logs .info-list li.last,
.main.logs .info-list li.last label{
  margin:0 !important;
}

.main.logs .info-list li.long label{
  width:100% !important;
}

.main.logs .info-list li.long input,
.main.logs .info-list li.long select{
  float:left !important;
}

.main.logs .info-list.m-cols label,
.main.logs .info-list li.last label{
  margin-bottom: 10px !important
}


.main.logs .info-list input{
  width:120px !important;
}
.calendar {
    width: 15px;
    height: 15px;
    display: block;
    background: url(../images/bankpages/date.jpg) no-repeat 0 0;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}
.f-input {
    float: left;
    position: relative;
}

.main.logs .filter .form-btn{
  margin:0;
}

.history-tbl{
  width:645px;
  height:auto;
  margin: 45px auto 5px;
  background: #2a2a2a;
}
.history-tbl .tbl-hdr,
.history-tbl .tbl-row{
  clear:both;
  height: 59px;
}
.history-tbl .tbl-col{
  float:left;
  height:59px;
  line-height:59px;
  border:1px solid #333;
  text-align: center;
  display: table;
}

.history-tbl .tbl-hdr .tbl-col{
  color:#aaa;
}

.history-tbl .tbl-col.tc1{
  width:158px;
}
.history-tbl .tbl-col.tc2{
  width:118px;
}
.history-tbl .tbl-col.tc3{
  width:183px;
}
.history-tbl .tbl-col.tc4{
  width:98px;
}
.history-tbl .tbl-col.tc5{
  width:78px;
}
.history-tbl .tbl-col.tc-none{
  width:100%;
}


.history-tbl .tbl-col input{
  width:71px;
  height:20px;
  margin-top:20px;
}

.history-tbl .tbl-row .tbl-col.tc1{
  text-align: left;
  text-indent: 20px;
}
.history-tbl .tbl-col .process{
  display: block;
  height: 18px;
  line-height: 18px;
  margin-top:10px;
}
.history-tbl .tbl-col .datemade{
  display: block;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin-top:3px;
  color:#666666;
}

.history-tbl .tbl-row .tbl-col.tc2 p{
  text-align: right;
  padding-right:10px;
}

.rep-buttons a{
  width: auto;
    height: 30px;
    line-height: 30px;
    display: block;
    padding:0 10px;
    background: #444444;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    color: #666666;
    text-align: center;
    margin-right: 15px;
}
.rep-buttons a:hover{
  background: #444444;
}

.pagerow {
  font-size: 12px;
  width:560px;
  float:right;
  margin:5px 0 15px 0;
}

#viewwithdrawlogsform .form-btn,
#viewoperatelogsform .form-btn
{
    float: left !important;
    margin: 10px 10px 10px 0;
}

#viewxmlogsform .form-btn,
#viewoperatelogs .form-btn
{
    float: left;
    margin: 32px 10px 10px 0;
}

#viewxmlogsform .form-btn{
  margin-top: 30px !important;
}


.history-tbl.rebate,
.history-tbl.promo {
    width: 685px;
}
.history-tbl.promo{
  margin-top: 100px !important;
}
.th-rebate .filter-options .f-label,
.th-rebate .filter-options .label.first,
.th-promo .filter-options .f-label,
.th-promo .filter-options .label.first{
  width:134px;
  margin-right:10px;
}

.th-rebate .form-inputs .f-input select,
.th-promo .form-inputs .f-input select{
  margin:0;
  width: 180px;
}

.th-rebate .filter-options .f-btn,
.th-promo .filter-options .f-btn{
  width: 100px;
  float:right;
  margin-right:15px;
}

.history-tbl.rebate,
.history-tbl.promo{
  width:685px;
}
.history-tbl.rebate .tbl-col.tc1,
.history-tbl.promo .tbl-col.tc1{
  width:153px;
}
.history-tbl.rebate .tbl-col.tc2,
.history-tbl.promo .tbl-col.tc2{
  width:108px;
}
.history-tbl.rebate .tbl-col.tc3,
.history-tbl.promo .tbl-col.tc3{
  width:138px;
}
.history-tbl.rebate .tbl-col.tc4,
.history-tbl.promo .tbl-col.tc4{
  width:98px;
}
.history-tbl.rebate .tbl-col.tc5,
.history-tbl.promo .tbl-col.tc5{
  width:98px;
}
.history-tbl.rebate .tbl-col.tc5 p,
.history-tbl.promo .tbl-col.tc5 p{
  color:#666;
}
.history-tbl.rebate .tbl-col.tc6,
.history-tbl.promo .tbl-col.tc6{
  width:78px;
}


.history-tbl.promo .tbl-hdr .tbl-col.tc1,
.history-tbl.promo .tbl-hdr .tbl-col.tc2,
.history-tbl.promo .tbl-hdr .tbl-col.tc3,
.history-tbl .tbl-hdr .tbl-col,
.history-tbl .tbl-row .tbl-col {
    text-align: center;
    display: table;
}

.history-tbl.promo .tbl-hdr .tbl-col.tc1 span,
.history-tbl.promo .tbl-hdr .tbl-col.tc2 span,
.history-tbl.promo .tbl-hdr .tbl-col.tc3 span,
.history-tbl .tbl-hdr .tbl-col span,
.history-tbl .tbl-row .tbl-col span{
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    text-indent: 0;
    padding:0 10px;
}


.history-tbl.prize .tbl-col.tc1{
  width:180px;
}
.history-tbl.prize .tbl-col.tc2{
  width:150px;
}
.history-tbl.prize .tbl-col.tc3{
  width:209px;
}
.main.tobtc .btc-form,
.btc-top{
  margin-top:0;
}

.main.tobtc .group-form .input-group input{
  color:#000;
}

.main.tobtc .group-form {
    width:580px;
    min-height: 35px;
}

.main.tobtc #withdrawform{
  padding: 0;
  position: relative !important;
  margin: 0 auto;
  width: 730px;
}

#withdraw .btc-transaction {
  width: 630px;
}

#withdraw .btc-statmessage,
#withdraw .btc-statmessage .top-hdr{
  width:660px;
  overflow: hidden;
}


#withdraw .btc-statmessage .top-hdr {
    width: 99%;
    margin-top: -115px;
    margin-left: -33px;
}

.mainacc form{
  width: 670px!important;
    min-height: 470px!important;
    margin-left: 50px;
}
#depositonlineform .group-form{
  margin-left: 100px;
}
#card_deposit_form{
  margin-left: 0 !important;
}
.buttonform{
    margin-right: 200px !important;
    margin-top: 20px !important;
}
.marginLeft{
  margin-left: 0 !important;
}
#history-tbl
{
  margin-top: 50px !important;
}
.history-tbl
{
  float: left !important;
  margin-top: 110px !important;
}
#btnsumbit
{
    float: right !important;
    margin: 10px 10px 10px 0 !important;
}
#viewoperatelogsform .info-list
{
  margin-top: 0 !important;
}
#onlyread
{
  background: #454545;
    border: 1px solid #454545;
    color: #e3e3e3;
}
.tbl-col span
{
  font-size: 14px;
}
.tbl-col p
{
  font-size: 14px;
}
.side .m-sub a
{
  margin-left: -10px;
}


/***member page info***/
.content_s2 {
    width: 100%;
    min-height: 550px;
    margin: 0 auto;
    background: #333333;
    position: relative;
    -webkit-box-shadow: 0px 5px 14px 5px #1a1a1a;
    -moz-box-shadow: 0px 5px 14px 5px #1a1a1a;
    box-shadow: 0px 5px 14px 5px #1a1a1a;
}
.left_div {
  width: 300px;
  min-height: 550px;
  background: #272727;
  float:left;
}
.right_div {
  min-height: 550px;
  float:left;
  width: 430px;
}


.user-data {
  width:100%;
  height: 180px;
  position: relative;
}

.user-data .avatar{
  width: 88px;
  height: 88px;
  display: block;
  background: url('../images/bankpages/avatar.png') no-repeat 0 0;
  margin: 30px auto 5px;
}

.user-data .uname {
  color: #fff;
  font-size: 16px;
  width:100%;
  line-height:20px;
  display: block;
  text-align: center;
}

.user-data .stars{
  width: 125px;
  height: 25px;
  margin:8px auto 4px;
}

.user-data .stars span{
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-right:5px;
  background: url('../images/bankpages/wstar.png') no-repeat 0 0;
}

.user-data .stars span.fifth{
  margin:0;
}

.user-data .stars.level1 .first{
  background: url('../images/bankpages/gstar.png') no-repeat 0 0;
}

.user-data .stars.level2 .first,
.user-data .stars.level2 .second{
  background: url('../images/bankpages/gstar.png') no-repeat 0 0;
}

.user-data .stars.level3 .first,
.user-data .stars.level3 .second,
.user-data .stars.level3 .third{
  background: url('../images/bankpages/gstar.png') no-repeat 0 0;
}

.user-data .stars.level4 .first,
.user-data .stars.level4 .second,
.user-data .stars.level4 .third,
.user-data .stars.level4 .fourth{
  background: url('../images/bankpages/gstar.png') no-repeat 0 0;
}

.user-data .stars.level5 .first,
.user-data .stars.level5 .second,
.user-data .stars.level5 .third,
.user-data .stars.level5 .fourth,
.user-data .stars.level5 .fifth{
  background: url('../images/bankpages/gstar.png') no-repeat 0 0;
}


.user-data .level-txt{
  color: #666666;
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  display: block;
  text-align: center;
}

.box-credit {
  width: 100%;
  height: 70px;
}

.box-credit .btn-bg{
  width: 276px;
  height: 61px;
  background: url('../images/bankpages/btn1.png') no-repeat 0 0;
  margin: 0 0 0 15px;
}

.box-credit .info {
  width: 250px;
  height: 40px;
  margin: 0;
  padding: 8px 0 0 20px;
}

.box-credit .info p{
  line-height: 30px;
  color: #999999;
  font-size: 14px !important;
  float: left;
  margin-right: 5px;
}

.box-credit .info p.yellow{
  font-size: 18px !important;
  margin-top: 2px;
}

.box-credit .info p.ctotal{
  color: #fff;
  float:right;
  margin-right: 20px;
}

.short-menu{
  width: 240px;
  height: 35px;
  margin: 10px auto;
}

.short-menu .smenu{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.short-menu .smenu .txt{
  color: #ccc;
  font-size: 14px;
  line-height: 35px;
}

.short-menu .smenu .icon{
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right:10px;
}

.short-menu .smenu.withdraw .icon{
  background: url('../images/bankpages/withdraw.png') no-repeat 0 0;
}

.short-menu .smenu.deposit .icon{
  width: 30px;
  height: 29px;
  background: url('../images/bankpages/deposit.png') no-repeat 0 0;
  margin-right:12px;
}

.short-menu .smenu.rebate .icon{
  background: url('../images/bankpages/rebate.png') no-repeat 0 0;
}

.short-menu .smenu.history .icon{
  width: 28px;
  height: 25px;
  background: url('../images/bankpages/history.png') no-repeat 0 0;
  margin: 4px 12px 0 0;
}

.short-menu .smenu.add .icon{
  width: 28px;
  height: 27px;
  background: url('../images/bankpages/add.png') no-repeat 0 0;
  margin: 4px 12px 0 0;
}

.right_div h1{
  margin:0 0 10px;
  padding: 30px 0 0 15px;
  width: 100%;
  color: #e9c070;
  font-size: 18px;
}

#accountinfo_content .row{
 
  height: 32px;
  margin: 0 auto 15px;
}
#accountinfo_content .left-div{
  float:left;
  margin-left:50px;
  width:200px;
}
#accountinfo_content .del-div{
  float:left;
  width:30px;
}

#accountinfo_content .right-div{
  float:left;
  margin-left:10px;
  width:200px;
}

#accountinfo_content .row .label{
  width:91px;
  height: 32px;
  line-height: 32px;
  display: block;
  float:left;
  margin-right:4px;
  color:#fff;
  text-align: left;
}

#accountinfo_content .row .txt1{
  width:250px;
  height: 32px;
  line-height: 32px;
  display: block;
  float:left;
  color:#aaaaaa;
  text-align: right;
}

.right_div .input-group select,
.right_div .input-group input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #333;
    border: 0;
    text-indent: 5px;
    padding: 0;
    background: #dddddd;
}

.right_div .form-btn{
  float: right;
  margin: 0 42px 0 0;
}


.bank-popup .bp-head {
    height: 40px;
    background: #b48d55;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
}


.bank-popup .bp-holder form .bp-submit {
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(#cea158, #b78b4e, #9b7143);
    margin:10px 0 0 115px;
    font-weight: bold;
    cursor: pointer;
}

.bank-popup .bp-holder form input {
    width: 170px;
    height: 34px;
    background: #fff;
    border: 0;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    line-height: 34px;
    float: left;
    border-radius: 5px;
}


.bank-group {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.bank-tab2 {
  width:60px;
  height:20px !important;
  float: right;
}

.hdr1{
  width:100%;
  display: block;
  clear:both;
  color:#e9c070;
  font-size: 18px;
  font-weight: bold;
  padding:50px 0 10px 30px;
}

.hdr1.s2{
  padding: 40px 25px 30px;
  margin: 0;
}

.hdr1.s3{
  padding: 0 0 20px 0;
  margin: 0;
}

#thumb {
    width: 650px;
    height: 390px;
    margin: 0 auto;
}

.xoa{
  width: 60px;
  height: 30px;
  background: #323232;
  position: absolute;
  border-radius:5px;
  position: absolute;
  top:10px;
  right: 10px;
  z-index:10;
}

.xoa.long{width:70px;}

.xoa .delete-card{
  width: 14px;
  height: 15px;
  display: block;
  float: left;
  background: url('../images/bankpages/delete-card.png') no-repeat 0 0;
  margin: 7px 5px;
}

.xoa .txt{
  font-size: 12px;
  float: left;
  display: block;
  color:#fff;
  margin: 7px 5px;
}

.xoa .dis-txt {
  position: absolute;
  top: 8px;
  font-size: 12px;
  width: 70px;
  display: block;
  text-align: center;
}

.bank-group .bank-add,
.bank-group .add{
  width: 319px;
  height: 185px;
  margin:0;
}

.bank-group .add{
  margin-top: 13px;
  font-size: 13px;
  border: 0 none !important;
  font-weight: bold;
  line-height: 170px;
  background: url('../images/bankpages/rect4.png') no-repeat 0 0 !important;
}

.bank-add .icon-add,
.bank-group .add.addline .icon-add{
  width: 24px;
  height: 24px;
  background: url('../images/bankpages/add2.png') no-repeat 0 0 !important;
}

.bank-group .add.addline .icon-add{
  margin-top:-5px;
}

.bank-cardlist .table-list table td.first{
  border-left: 0 none;
}

.table-list{
  padding-top: 0;

}


.bank-group .add.addline{
  width:664px;
  height: 74px;
  line-height: 59px;
  float:none;
  margin:0 auto;
  background: url('../images/bankpages/rect5.png') no-repeat 0 0 !important;
}

.mainacc .content_s2 form {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    padding: 0;
    background: none;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.group-form .message {
    display: block;
    margin: 5px;
    color: #7b7b7b;
    padding: 0;
    background: none;
    height: auto;
    font-size: 13px;
    color: #b0b0b0;
    line-height: 30px;
}

.blacktxt {
    background-color: #454545 !important;
    color: #aaaaaa !important;
}

.mc-cont {
    float: none;
    width: 100%;
    background: none;
    min-height: 435px;
    padding-top: 60px;
}

.mp-content form .buttons a, .mp-content .submit {
    display: block;
    width: 94px;
    height: 34px;
    margin: 15px auto;
    float:none;
    background: linear-gradient(#cea158, #b78b4e, #9b7143);
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
}

.form-btn.brown{
  background: #51412e;
  margin-right:10px;
}

.form-btn.fright{
  margin: 0 0 0 145px;
}

.aftersubmit {
  width: 330px;
  height: 70px;
  margin: 15px auto;
  margin-bottom: 25px;
  padding: 0 50px;
  padding-top: 50px;
}

.ptpassword .note {
  border-top: 0;
  padding: 20px;
  font-size: 12px;
  color: #b0b0b0;
  line-height: 22px;
  width: 732px;
  margin:0;
}

.mainacc .box{
  min-height: 75px;
  background: none;
  position: relative;
  padding: 10px 20px !important;
}

#noticesubscription .filter{
  width: 315px;
  height: 30px;
  position: absolute;
  top:35px;
  right: 20px;
}

#noticesubscription .filter p{
  float: left;
  margin-left:15px;
}


#noticesubscription input[type="radio"] {
    display:none;
}

#noticesubscription input[type="radio"] + label {
    color:#cccccc;
    font-family:Arial, sans-serif;
}

#noticesubscription input[type="radio"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../images/bankpages/circ0.png') no-repeat;
    cursor:pointer;
}

#noticesubscription input[type="radio"]:checked + label span {
    background:url('../images/bankpages/circ1.png') no-repeat;
}


#noticesubscription table th{
  color: #666;
  font-size: 14px;
}
#noticesubscription table td{
  text-align: center;
  color: #ccc;
  font-size: 12px;
  height: 20px;
}
#noticesubscription table td.label{
  text-align: left;
}
#noticesubscription table p{
  display:inline-block;
  width:30%;
}

#noticesubscription table input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../images/bankpages/circ0_sm.png') no-repeat;
    cursor:pointer;
}
#noticesubscription table input[type="radio"]:checked + label span {
    background:url('../images/bankpages/circ1_sm.png') no-repeat;
}
#noticesubscription table input[type="radio"] + label {
  font-size: 12px;
}

#noticesubscriptionform .buttons {
    width: 120px;
    margin: 35px auto;
    height: 50px;
    display: block;
}

#messageinfo .list {
    width: 685px;
    margin: 0 auto;
    height: auto;
}

#messageinfo .list .record {
    width: 685px;
    margin: 0 auto 1px;
    height: auto;
    position: relative;
    background: #2a2a2a;
}


#messageinfo .list .record .msgbox {
    float: left;
    width: 615px;
    min-height: 60px;
    padding: 0;
    height: auto;
    background: none;
}

#messageinfo .list .record .info {
    min-height: 51px;
    padding-top: 19px;
    border-right: 1px solid #333;
}

#messageinfo .list .list-hdr{
  background: #222222;
  height: 60px;
  width: 685px;
  margin-bottom: 1px;
}

#messageinfo .list .list-hdr .txt{
  color: #aaaaaa;
  height: 60px;
  line-height: 60px;
  width: 605px;
  display: block;
  float: left;
  border-right: 1px solid #333;
  margin-left: 9px;
  text-indent: 5px;
}
#messageinfo .list .record .notice {
    color: #B0B0B0;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 105px;
}
#messageinfo .list .mail{
  width: 28px;
  height: 21px;
  display: block;
  background:url('../images/bankpages/mail0.png') no-repeat;
  margin: 18px auto 5px;
}
#messageinfo .list .record .chkbox {
  float: left;
  width: 65px;
  height: 60px;
  text-align: center;
  padding: 0;
  background: none;
}

#messageinfo .list .record .info .title {
    font-size: 16px;
    line-height: 17px;
}

#messageinfo .list .record .info .date {
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

#messageinfo .list .record .ckbox,
#messageinfo .allchkbox{
  width:20px;
  height:20px;
  background: #474747;
  outline: none;
  margin-top: 25px;
}

#messageinfo .allchkbox{
  margin: 20px 0 0 25px;
}

#messageinfo .list .record .msgfull {
    background: none repeat scroll 0 0 #2e2e2e;
    display: none;
    height: 143px;
    margin-top: 1px;
    padding: 20px 23px;
    width: 639px;
}
#messageinfo .list .record .msg-cont {
    color: #aaa;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    width: 660px;
}

#viewoperatelogsform {
    margin-top: 5px;
    height: auto !important;
    min-height: 10px !important;
}
#messageinfo .pagerow {
    font-size: 12px;
    width: 100%;
    float: right;
    margin: 5px 0 15px 0;
}

#messageinfo .pagerow td {
    width: 685px;
    margin-top: 33px;
    height: auto;
    line-height: 28px;
    color: #cccccc !important;
    font-size: 13px;
    text-align: left !important;
    padding-right: 0;
}

.pagerow a {
    color: #cccccc !important;
}

#messageinfo .pagerow #deleteslt{
  float: right;
  width: 80px;
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  color: #666666;
  background: #444;
  color: #666 !important;
  border-radius: 5px;
  font-weight: bold;
}

#messageinfo .pagerow #deleteslt.all{
  background: linear-gradient(to right, #525252 , #444444) !important;
  color: #fff !important;
}

#messageinfo .noresult{
  width: 670px !important;
  height: 225px;
  background: #272727;
  border-radius: 10px;
  margin-top: 20px;
}

#messageinfo .noresult p{
  color: #666666;
  line-height: 225px;
  text-align: center;
}
