@{
    ViewBag.Title = "Home";
}

<!-- Page Content--><section class="sec sec_01">
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanero5mariachis.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanero12zodiacs.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroallforone.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroamericanbaccarat.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroamericanbaccaratzerocommission.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroamericanblackjack.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroarcaneelements.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroarcticwonders.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerooceanscall.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerodiscofunk.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroaztlansgold.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobarnstormerbucks.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerodiscofunk.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobikiniisland.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobirdofthunder.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroblackbeardsbounty.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerodoubleodollars.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroblackjack3hand.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habaneroblackjackdoubleexposure3hand.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobombsaway.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobirdofthunder.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobuggybonus.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerocakevalley.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerocaribbeanholdem.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerobirdofthunder.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerocaribbeanstud.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerocashreef.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/games/habanerocoyotecrash.jpg">
        </div>
        <div class="clearfix"></div>
    </div>

</section>

@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

