@{
    ViewBag.Title = "Home";
}

<!-- Page Content-->
<div class="main">
    <div class="content">
        <ul class="rig columns-4">
            <!-- ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/7a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/8a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/21a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/41a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/60a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/61a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/index-30a.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-9fc.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-af.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-cj.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-ea.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-fof.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-fs.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-rw.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-sp.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
            <li  class="ng-scope">
                <a href="javascript:" >
                    <img src="~/Content/images/slotgames/screenshot-wws.jpg">
                </a>
            </li>
            <!-- end ngRepeat: promo in promoData -->
        </ul>
    </div>
    <div class="clear"></div>
</div>


@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

