@{
    ViewBag.Title = "Home";
}

<!-- Page Content-->
<section class="sec sec_01">
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/7a.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/8a.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/21a.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/41a.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-wws.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/60a.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/61a.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/index-30a.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-9fc.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-af.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-cj.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-ea.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-fof.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-fs.jpg">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block">
        <div class="smblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-rw.jpg">
        </div>
        <div class="bgblock _01">
            <img class="img-responsive" src="~/Content/mobileimages/slotgames/screenshot-sp.jpg">
        </div>
        <div class="clearfix"></div>
    </div>

</section>

@section AdditionalFooterScripts
{
<script type="text/javascript">

</script>
}

