
.toast.Success {
    background:  #B5C7C7 !important;
    color:  #000900 !important;
}

.toast.Warning {
    background:  #B5C7C7 !important;
    color:  #000900 !important;
}

.toast.Error {
    background:  #B5C7C7 !important;
    color:  #000900 !important;
}

.main-menu {
    background:  #fff ;
}

.main-menu {
    background:  #fff ;
    background: -moz-linear-gradient(top,  #fff  0%,  #fff  70%,  #00000000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%,  #fff ), color-stop(70%,  #fff ), color-stop(100%,  #00000000));
    background: -webkit-linear-gradient(top,  #fff  0%,  #fff  70%,  #00000000 100%);
    background: -o-linear-gradient(top,  #fff ) 0%,  #fff  70%,  #00000000 100%);
    background: -ms-linear-gradient(top,  #fff  0%,  #fff  70%,  #00000000 100%);
    background: linear-gradient(to bottom,  #fff  0%,  #fff  70%,  #00000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #fff ', endColorstr=' #00000000', GradientType=0 );
    color:  #333 !important;
}

    .main-menu li {
        border-bottom: 1px solid  #333;
    }

        .main-menu li:first-child {
            border-top: 1px solid #333;
        }

#Tiles {
    background:  #fff !important;
}

#install-extension {
    background:  #fff;
    background: -webkit-gradient(linear, left top, left bottom, from( #fff), color-stop(97%,  #fff), color-stop(98%,  #fff));
    background: -webkit-linear-gradient(top,  #fff 0%,  #fff 97%,  #fff 98%);
    background: linear-gradient(to bottom,  #fff 0%,  #fff 97%,  #fff 98%);
}

.switchactive {
    background:  #fff;
    padding: 4px;
    height: 33px;
    margin-top: -3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

i.icon-Promotions {
    color:  #333 !important;
}



.mobile-app-header-icon {
    color:  #333536 !important;
}

/*.icon_colour_brand {
    color:  #333536 !important;
}*/

.icon_colour_brand {
    color:  #333;
}

.mobileApp {
    background: -webkit-gradient(linear, left top, left bottom, from( #fff), color-stop(97%,  #fff), color-stop(98%,  #fff)) !important;
    background: -webkit-linear-gradient(top,  #fff 0%,  #fff 97%,  #fff 98%) !important;
    background: linear-gradient(to bottom,  #fff 0%,  #fff 97%,  #fff 98%) !important;
}

#sidr li .active {
    background-color: #AA1906 !important;
}

#sidr ul li:first-child a {
    border-top: 1px solid  #333;
}


#sidr li .active > .icon_colour_brand {
    color:  #fff !important;    
}

.nav-balance {
    height: 115px !important;
    border-bottom: 1px solid  #333;
}


::-webkit-scrollbar-track {
    background: #000;
    border: thin solid #000;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border: thin solid #fff;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
}

    ::-webkit-scrollbar-thumb:hover {
        background:  #000;
    }

.jackpotsTotal {
    color:  #fff;
}

.progressiveJackpotsTotal {
    color:  #A91905 !important;
}

.winningamount {
    color: grey;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    background-color:  #A91905;
    color:  #fff !important;
}

/*nav ul li i, nav ul li span {
    color:  #fff !important;
}

nav ul li:hover, nav ul li.active {
    background-color: #AA1906 !important;
}

    nav ul li:hover i, nav ul li:hover span, nav ul li.active i, nav ul li.active span {
        color:  #B4C8C7  !important;
    }
*/

.realbtn {
    background:  #A91905;
    color:  #fff !important;
}

.funbtn {
    background:  #455055 !important;
    color:  #fff !important;
}

.btn-sec {
    background:  #455055 !important;
    color:  #fff !important;
}

.morebtn {
    background:  #A91905;
    color:  #fff;
}

.small-promo-text h5, .small-promo-text h6, .small-promo-rules {
    color:  #000  !important;
}

.btn, .btn-large, .btn-flat {
    background-color:  #A91905;
    color:  #fff;
}

    .btn:hover, .btn-large:hover, .btn-flat :hover {
        background-color:  #C41F08;
    }

.navactive {
    background:  #A91905;
}

.mgearrow {
    position: relative;
    float: right;
    right: -7px;
    top: 0px;
    width: 85px;
    height: 15px !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 42.5px 0 42.5px;
    border-color:  #A91905 transparent transparent transparent;
}

.gameTypeDef form {
    background:  #A91905;
    float: right;
    margin-right: 0px;
    margin-top: -10px;
    width: 172px;
    font-size: 13px;
    position: relative;
    border-radius: 10px;
}

.blocks-scroller.active {
    color:  #B4C8C7 !important;
    font-weight: normal !important;
    text-decoration: underline;
}

.mainblocks-scroller.active {
    background:  #333333 !important;
}

.gameTypeDef .blocks-scroller .header:hover {
    color:  #B4C8C7 !important;
    text-decoration: underline;
}

.back-to-promo {
    color:  #000900 !important;
    line-height: 2;
    background-color:  #B5C7C7;
}

.breadcrumb-close {
    color:  #000900 !important;
}

/*Calendar*/
#calendar-modal {
    color:  #000 !important;
    font-weight: bold;
}

    #calendar-modal i {
        color:  #333536 !important;
    }

    #calendar-modal .month {
        color:  #333536 !important;
    }

.day {
    background-color:  #E5E5E5;
    text-align: left;
    background: rgba(49,49,49,1);
    background: -moz-linear-gradient(top,  #E5E5E5 0%,  #E5E5E5 100%);
    background: -webkit-linear-gradient(top,  #E5E5E5 0%,  #E5E5E5 100%);
    background: -o-linear-gradient(top,  #E5E5E5 0%,  #E5E5E5 100%);
    background: -ms-linear-gradient(top,  #E5E5E5 0%,  #E5E5E5 100%);
    background: linear-gradient(to bottom,  #E5E5E5 0%,  #E5E5E5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #E5E5E5', endColorstr=' #E5E5E5', GradientType=0 );
    height: 115px;
    margin: 1%;
    position: relative;
}


    .day:nth-of-type(2) {
        height: 120px;
    }


.searchForm > label {
    border: 2px solid  #fff !important;
}


#GameArea {
    padding-top: 0px !important;
}

.searchlabel input {
    color: white !important;
}

/*.blocks-scroller, .mdi-action-search {
    color:  #fff !important;
}
*/

.search > label {
    background:  #333333 !important;
    color: #ffffff;
    border: 2px solid  #fff;
}

input#game-search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px  #333333 inset !important;
}

.bx-wrapper {
    background: none !important;
    border: none !important;
}

#progresssive {
    background: #ffffff;
    border: 1px solid  #fff !important;
    border-right: none !important;
}

    #progresssive h5 {
        color:  #fff;
    }

.moreGames {
    background: #111;
}

.small-header {
    background:  #333333;
}

.top_header_navigation_balance {
    color: white !important;
}

.top_header_navigation_balance_mobile {
    color:  #333536 !important;
}

.tickercontent {
    border-bottom: 1px solid  #fff;
}

#popApi, #MaintenancePop {
    background:  #fff !important;
    color:  #333536 !important;
}

    #popApi a, #MaintenancePop a {
        color:  #333536 !important;
    }

#popWelcome {
    height: 330px;
    top: 383px;
    width: 579px;
    padding: 24px 75px 26px 65px;
    border-radius: 11px;
    text-align: center;
    font-size: 18px;
    min-height: 258px;
    right: 0;
    position: fixed !important;
    z-index: 77777;
    left: 50% !important;
    margin: -250px 0 0 -280px !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background:  #fff !important;
    color:  #333536 !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
}

#password-pop, #balance-pop {
    background-color:  #333 !important;
    border: 1px solid #545454 !important;
    color:  #fff !important;
}

#instant_message-pop {
    background-color: #323232 !important;
    color: #fff !important;
}

#password-pop a {
    color:  #fff !important;
}

.passwordchange a {
    color:  #fff !important;
}

.searchbox {
    background:  #333333 !important;
}

/*Profile page*/

.accordion-box {
    background:  #fff !important;
}

.modal-bg {
    background:  #fff !important;
}

#message-center-content div {
    color: #ddd !important;
}

.update-fields-block, .input-field label {
    background-color:  #E5E5E5 !important;
    color:  #333536 !important;
}

    .input-field label.active {
        color:  #333536 !important;
    }

.collapsible-text-block p, .select-country p, .docupload-label p, .profile-footnotes, .uploadproof {
    color:  #333536 !important;
}

select {
    background-color:  #D1D1D1 !important;
    color:  #333536 !important;
}

.collapsible-header {
    color:  #333536;
}

.collapsible-body {
    color:  #333536;
}

.profile-message-text, .profile-message-text a {
    color:  #333536 !important;
}

.contact-message-text, .contact-message-text a {
    color:  #333536 !important;
}

/*Loyalty Page*/

.tier-block {
    background-color:  #E5E5E5 !important;
}

.tier-text p {
    color:  #333536 !important;
}

.dayBG {
    background-color:  #fff !important;
    background-size: contain !important;
}

.loyalty-table-contents, .loyalty-games-icon-row {
    background-color:  #fff !important;
}

.blue-tier-row:first-child,
.silver-tier-row:first-child,
.gold-tier-row:first-child,
.platinum-tier-row:first-child,
.diamond-tier-row:first-child,
.prive-tier-row:first-child {
    background-color:  #E5E5E5 !important;
    border-top: none !important;
}

.loyalty-tab {
    border-top: 1px solid grey !important;
    border-bottom: none !important;
    border-right: 1px solid grey !important;
    border-left: 1px solid grey !important;
    background-color:  #E5E5E5 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.LoyaltyButtonTabs, .loyalty-selected:first-child {

}

.loyalty-status-box {
    border: 1px solid  #E5E5E5 !important;
    background-color:  #E5E5E5 !important;
}

.loyalty-table-contents, .loyalty-games-icon-row {
    background-color:  #E5E5E5 !important;
}

.default-tier-tab {
    background-color:  #fff !important;
}

.redeemable-total {
    background-color:  #D1D1D1 !important;
    color: #fff !important;
}

.progress {
    background-color:  #E5E5E5 !important;
}

.PointsTo, .PointsEarned {
    background:  #fff !important;
}

/*Help Page*/

.big-live-help-icon, .query-footnotes, .number-link {
    color:  #333536 !important;
}

.query-fields-block {
    background-color:  #fff !important;
}

.query-submit input[type=text], .query-submit textarea.materialize-textarea {
    background-color:  #E5E5E5 !important;
}

#querycontent {
    color:  #333536 !important;
}

    #querycontent::-webkit-input-placeholder {
        color:  #333536 !important;
    }

    #querycontent:-moz-placeholder {
        color:  #333536 !important;
    }

    #querycontent:-ms-input-placeholder {
        color:  #333536 !important;
    }

    #querycontent::-moz-placeholder {
        color:  #333536 !important;
    }

#subject::-webkit-input-placeholder {
    color:  #333536 !important;
}

#subject:-moz-placeholder {
    color:  #333536 !important;
}

#subject:-ms-input-placeholder {
    color:  #333536 !important;
}

#subject::-moz-placeholder {
    color:  #333536 !important;
}

.responsible-gaming-rules p, .responsible-gaming-rules li {
    color:  #333536 !important;
}

.help-footnotes {
    color:  #A91905 !important;
}

/*Promos & Games Blocks*/

.bx-wrapper .bx-viewport {
    background-color:  #fff !important;
}

.headline-text-wrapper {
    background-color: rgba(255,255,255,0.5) !important;
}

.NewGame, .selfmanager {
    border: 1.5px solid #909090;
    background: #ffffff !important;
    background: -webkit-linear-gradient(left, #000, #000) !important;
    background: -o-linear-gradient(right, #000, #000) !important;
    background: -moz-linear-gradient(right, #000, #000) !important;
    background: linear-gradient(to right, #000, #000) !important;
}

.recent-winners-mask, .view-first .mask {
    background: rgba(0,0,0,0.5) !important;
    border: none !important;
}

.MainTabheader, .MainTabheader span, .MainTabheader i {
    color:  #fff !important;
}

    .MainTabheader .promotext {
        color:  #fff !important;
    }

.games-menu {
    box-shadow: none !important;
    background:  #333333 !important;
}

.games-menu-mobile {
    box-shadow: none !important;
    background:  #333333 !important;
}

.active > .MainTabheader .promotext {
    color:  #fff !important;
}

.active > .MainTabheader i {
    color:  #fff !important;
}

.FullPromo {
    background-color: #2c2c2c;
    border: 1.5px solid #909090;
}

.main-promo-small {
    background: #ffffff;
    background: -webkit-linear-gradient(left, #ffffff,  #fff) !important;
    background: -o-linear-gradient(right, #ffffff,  #fff) !important;
    background: -moz-linear-gradient(right, #ffffff,  #fff) !important;
    background: linear-gradient(to right, #ffffff,  #fff) !important;
    border: none !important;
}

.FullPromo {
    border: none !important;
}

.NewGame, .selfmanager {
    border: none !important;
}

.secondary-promo {
    background-color:  #fff !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#modal-promo i {
    border-radius: 20px;
    color:  #000 !important;
    background-color:  #fff !important;
    margin: 5px;
}

    #modal-promo i.mdi-chevron-double-down {
        background-color: rgba(0,0,0,0);
    }

.small-promo-rules {
    color:  #000    !important;
}

.headline-text-wrapper h4, .headline-text-wrapper h4 span, .headline-text-wrapper h5, .headline-text-wrapper h5 span {
    color:  #000  !important;
}

.deal-rules a {
    color:  #000    !important;
}

.rules-collapsible {
    background-color:  #fff !important;
    color:  #000 !important;
    box-shadow: none;
}

    /*.collapsible-header-text {
    border-top: 1px solid  #fff;
	border-bottom: 1px solid  #fff;
}*/

.generalmodal-text {
    color:  #A91905;
}

/*.GeneralModalClose {
    right: 40px !important;
    top: 32px !important;
}*/

.GeneralModalClose i {
    /*background-color:  #fff;*/
    border-radius: 50%;
    font-size: 20px;
    /*color:  #333536 !important;*/
}

#PasswordContainer iframe {
    border-top: 40px solid  #fff !important;
    border-left: 20px solid  #fff !important;
    border-bottom: 20px solid  #fff !important;
    border-right: 20px solid  #fff !important;
    background:  #fff !important;
}

.iframeWrapperPassword {
    background:  #333536;
}

    .iframeWrapperPassword iframe {
        overflow-x: hidden;
    }

.password_close {
    position: relative;
    float: right;
    right: 20.1% !important;
    top: 13px !important;
}

    .password_close .close-text {
        font-size: 28px;
        background-color:  #fff !important;
        color:  #333536 !important;
        border-radius: 50%;
    }

#makeDepositTab ol li, #buyBingoTicketsTab ol li, #lingoTab ol li, #termsPhrasesTab ol li, #etiquetteTab ol li {
    list-style-type: decimal;
    color: gray !important;
}

#makeDepositTab p, #buyBingoTicketsTab p, #playBingoTab p, #lingoTab p, #termsPhrasesTab p, #etiquetteTab p, #chatBehaviourTab p, #chatGamesTab p {
    color: gray !important;
}

#chatBehaviourTab ul li, #otherStuffTab ul li {
    color: gray !important;
    list-style-type: disc;
}

.chat-phrases-headline {
    font-size: 16px;
    font-weight: bold;
}

#lingoTab li:nth-child(odd) {
    color:  #333536 !important;
}

​ .infoBar, .slick-list {
    background:  #fff !important;
}

.game_slider_selection {
    background:  #333333 !important;
}

.promo-btn {
    top: 85px !important;
}

.small-promo-text {
    padding-top: 0px !important;
}

.pre-buy-btn {
    background-color:  #455055 !important;
    color:  #fff !important;
}

/*Headline Promos*/

.headline-promo-button-wrapper .btn:first-child {
    background-color:  #455055;
    color:  #fff !important;
}

.headline-promo-button-wrapper .btn:last-child {
    background-color:  #A91905;
    color:  #fff !important;
}

.offerExpiry, .ticker-digit, .ticker-colon, .ticker-digit-name {
    color:  #000 ;
}

.deal-small-promo-rules {
    color:  #fff  !important;
}

.carousel-main-promo .btn {
    min-width: 199px;
}

/* Tournaments TPG | BRE */

.tournaments-table {
    border:  0.5px solid #dbdbdb;
    color: #4a4a4a;
}

    .tournaments-table .btn:disabled {
        /*Important to override Materialize*/
        background-color:  #d1d1d1 !important;
    }

    .tournaments-table p {
        color: #4a4a4a;
    }

    .tournaments-table .tournaments-table-cell {
        border:  0.5px solid #dbdbdb;
        background-color:  #FFF;
    }

.material-tooltip .backdrop {
    /*Important to override Materialize*/
    background-color:  #312f32 !important;
}

.tournaments-table-header,
.tournaments-table-header > .tournaments-header-cell {
    background:  #fff;
    border:  0.5px solid #FFFFFF ;
}

    /* If an alternate header color exists use it instead of the original*/
    .tournaments-table-header > .tournaments-header-cell {
        background:  #4a4a4a;
    }

.intro_name {
    background:  #A91905;
    text-align: left;
    padding: 12px;
    color:  #fff;
}

/* END Tournaments TPG | BRE */

/*Tournaments Giggle Bingo*/
.tourney-table {
    background:  #fff;
    border: 1.5px solid #909090;
}

.tourney-table-header {
    background-color:  #fff;
}

.tourney-table-cell {
    background: #ffffff;
    background: -webkit-linear-gradient(left, #ffffff,  #fff) !important;
    background: -o-linear-gradient(right, #ffffff,  #fff) !important;
    background: -moz-linear-gradient(right, #ffffff,  #fff) !important;
    background: linear-gradient(to right, #ffffff,  #fff) !important;
    color:  #333536;
}

    .tourney-table-cell p {
        color:  #333536;
    }

.tourney-table-cell, .tourney-header-cell {
    border: 0.5px solid #909090;
}

.tourney-header-cell {
    color:  #333536;
}

.tourney-tooltip {
    background-color:  #333536;
    color:  #fff;
}

.carousel-main-promo .btn {
    min-width: 190px !important;
}

.carousel-promo-background {
    background-color: rgba(255, 255, 255, 0) !important;
}

.promo-image img {
    position: absolute;
    margin: 0 auto;
    max-width: 200px;
    top: 41px;
}



.plugin_notice_content {
    color: #ffffff !important;
}


.blocks-scrollerMobile, .blocks-scrollerMobile.active, .blocks-scrollerMobile.active a {
    background-color:  #333333;
    color:  #fff;
}

    .blocks-scrollerMobile::before {
        content: "";
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 1px;
        border-bottom: 1px solid  #fff;
        position: absolute;
    }

    .blocks-scrollerMobile:hover {
        color: #ffffff;
    }

.product-bar {
    background:  #fff;
}

.menu-divider {
    background:  #A91905;
}

#header.liveCasino {
    background: #3e1716;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e1716), color-stop(97%, #3e1716), color-stop(98%, #3e1716));
    background: -webkit-linear-gradient(top, #3e1716 0%, #3e1716 97%, #3e1716 98%);
    background: linear-gradient(to bottom, #3e1716 0%, #3e1716 97%, #3e1716 98%);
}

.btn {
    border-radius: 5px !important;
}

.mobile--banking.spm.formsService header,
.mobile--banking.spm.formsService nav {
    background-color:  #fff;
}

    .mobile--banking.spm.formsService nav span {
        background:  #fff;
        opacity: 0.3;
        color: #FFFFFF;
    }

        .mobile--banking.spm.formsService nav span.active {
            background:  #fff;
            opacity: 1;
        }

.mobile--banking.spm.formsService section.info,
.mobile--banking.spm.formsService .list-header {
    background-color:  #fff;
}

.tablinks {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 15px;
}

.brandlinkcolor {
    background-color: #000;
}

/*Leaderboard*/

.Leader_standings {
    background: #320c37;
    background: -webkit-gradient(linear, left top, left bottom, from(#63186c), color-stop(97%, #2e0b32), color-stop(98%, #45114c));
    background: -webkit-linear-gradient(top, #63186c 0%, #2e0b32 97%, #45114c 98%);
    background: linear-gradient(to bottom, #63186c 0%, #2e0b32 97%, #45114c 98%);
}

#leaderboard {
    background: rgba(0, 0, 0, 0.58);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 8%, rgba(0,0,0,0.01) 51%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.65) 93%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 8%,rgba(0,0,0,0.01) 51%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.65) 93%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 8%,rgba(0,0,0,0.01) 51%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.65) 93%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 );
}

.leaderribbon {
    background: #320c37;
    background: -webkit-gradient(linear, left top, left bottom, from(#63186c), color-stop(97%, #2e0b32), color-stop(98%, #45114c));
    background: -webkit-linear-gradient(top, #63186c 0%, #2e0b32 97%, #45114c 98%);
    background: linear-gradient(to bottom, #63186c 0%, #2e0b32 97%, #45114c 98%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.LeaderBoard {
    background-color:  #fff !important;
    /*color:  #000900 !important;*/
}

.leaderBoardText {
    color:  #000900 !important;
}

.card-title {
    color:  #000 !important;
}

.divTableCell, .divTableHead {
    border-top: 3px solid  #fff;
}

#leaderboard-pop .tabs .tab a, #leaderboardTicket-pop .tabs .tab a {
    color:  #fff;
    outline: none;
}

#leaderboard-pop .tabs .tab.LeaderBoard.active a, #leaderboardTicket-pop .tabs .tab.LeaderBoard.active a {
    color:  #B4C8C7;
}

#leaderboard-pop .active, #leaderboardTicket-pop .active {
    border-bottom: 2px solid  #B4C8C7;
}
#leaderboardTicket-pop .active-player {
    background-color:  #B4C8C7 !important;
    color:  #fff;
}
#leaderboardTicket-pop .current-display .highlight-position {
    background-color:  #B4C8C7;
}
.divTableRow {
    background-color:  #E5E5E5 !important;
}

#leaderboard-pop .header, #leaderboardTicket-pop .header {
    color:  #fff !important;
}

.divTableCell {
    color:  #000 !important;
}


.leaderboardTabs {
    background-color:  #333333 !important;
}

#leaderboard-pop i, #leaderboardTicket-pop i {
    color: #fff !important;
}

#leaderboard-pop .personal .divTableCell, #leaderboardTicket-pop .personal .divTableCell {
    background: #1180ad;
    background: -webkit-gradient(linear, left top, left bottom, from(#1180ad), color-stop(98%, #1180ad));
    background: -webkit-linear-gradient(top, #1180ad 0%, #1180ad 98%);
    background: linear-gradient(to bottom, #1180ad 0%, #1180ad 98%);
}

#leaderboard-pop .header, #leaderboardTicket-pop .header{
    color:  #fff;
    background: #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), color-stop(98%, #333333));
    background: -webkit-linear-gradient(top, #333333 0%, #333333 98%);
    background: linear-gradient(to bottom, #333333 0%, #333333 98%);
}

#leaderboard-pop .leaderBoardInfoBox, #leaderboardTicket-pop .leaderBoardInfoBox {
    background: #63186c;
    background: -webkit-gradient(linear, left top, left bottom, from(#63186c), color-stop(98%, #2e0b32));
    background: -webkit-linear-gradient(top, #63186c 0%, #2e0b32 98%);
    background: linear-gradient(to bottom, #63186c 0%, #2e0b32 98%);
}

.leaderBoardMobile .leaderboardRow {
    border: 3px solid  #fff;
    text-transform: capitalize;
    color:  #333536 !important;
}

#leaderboard-pop .darkGrey {
    background-color:  #E5E5E5;
    color:  #333536 !important;
}

#leaderboard-pop .lightGrey, #leaderboardTicket-pop .darkGrey {
    background-color:  #D1D1D1;
    color:  #333536 !important;
}

#leaderboard-pop .lightBlue, #leaderboardTicket-pop .lightGrey {
    background-color: #1180ad !important;
}

#leaderboard-pop .darkBlue, #leaderboardTicket-pop .darkBlue {
    background-color: #0a4660 !important;
}

.mobileInfoBox {
    color:  #333536 !important;
}

.mobileInfoAmount {
    color:  #F26C25 !important;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 6px;
    font-weight: bold;
}

/*Widgets*/

.widget-header {
    font-size: 16px;
    font-weight: 600;
    padding: 3px 7px 7px 7px;
    border-radius: 8px 8px 0 0;
    height: 35px;
    color: white;
    padding-top: 6.5px;
}

.widget {
    background-color:  #fff;
}

.widget-collapsible-header-casino {
    background-color: #000;
}

.widget-header.widget-header-casino-1click {
    background-color: #545353;
    height: auto;
}

.widget_wrapper {
    background-color:  #fff;
}

.widget-header.widget-header-sport-1click {
    background-color: #000000;
    height: auto;
}


.HasOptedInCasino {
    border: 2px solid  #a91906;
    border-bottom: 1px;
}

.widget-header-active {
    border-bottom: 1px solid  #a91906;
    box-shadow: inset 0px 0px 15px 2px  #a91906;
    background:  #fff;
}

.widget-active {
    border: 2px solid  #a91906;
    box-shadow: inset 1px 1px 15px  #a91906;
}


.widget-btn .btn {
    background-color:  #A91905;
}

    .widget-btn .btn:hover {
        background-color:  #A91905;
    }

.widget-sports {
    background-color: #e2e2e2;
}

.widget-active-sports {
    border: 2px solid #097848;
    box-shadow: inset 1px 1px 15px #33b54b;
}

.widget-sports-btn .btn {
    background-color: #33b54b;
}

    .widget-sports-btn.btn:hover {
        background-color: #00a45d;
    }

.btn {
    border-radius: 5px !important;
}

#fixed-navigation {
    background-color:  #333333  !important;
}

#fixed-navigation a i, #fixed-navigation a div {
        color:  #fff !important;
}

#header .header-container-left {
    left: 50px;
}

.mobile-image {
    width: 160px;
}

#header-account-name, #header-account-balance, #header-account-bonus {
    color:  #333 !important;
    font-weight: bold !important;
}

#header-user-info a, #header-user-info i {
    color:  #333536 !important;
}

#header-user-info .navactive a, #header-user-info .navactive i {
    color:  #fff !important;
}

    #header-user-info .navactive a.message-btn {
        background: #fff !important;
        color: #000 !important;
    }

.viperUser {
    font-weight: bold;
    width: 190px;
    height: 56px;
    margin: 4px;
    margin-left: 10px;
    border-radius: 15px;
    padding: 7px;
    padding-left: 12px;
    background-color:  #DDDDDD !important;
}

/*.top_header_navigation, .gameSearch i, .top_header_navigation i, .top_header_navigation div {
    color:  #333536;
}*/

.top_header_navigation {
    color:  #333536;
}



.headermobile {
    left: 50px !important;
    width: 160px !important;
    height: auto !important;
    top: 15px !important;
}

.mobile-search {
    background-color:  #262626 !important;
}

.telephone-table-border {
    background-color:  #E5E5E5;
}

.place-holder {
    height: 10px;
    background-color:  #E5E5E5 !important;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.blocks-scroller, .search-icons, .mdi-action-search {
    color:  #808080;
}

.carousel-text-small {
    color:  #000  !important;
}

.carousel-text-medium {
    color:  #000  !important;
}

.carousel-text-large {
    color:  #000  !important;
}

.carousel-text-large {
    color:  #000  !important;
}

.primary-promo-text {
    color:  #000  !important;
}

.secondary-promo-text {
    color:  #000    !important;
}

.promo-link-text {
    color:  #000    !important;
}

.loading.loading-promotions,
.loading.loading-banking,
.loading-preconnect,
.loading {
    background:  #fff  !important;
}

.loading .loading-container .loading-spinner {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,  #C0122A ), to( #fff )) !important;
    background: -webkit-linear-gradient(top, #C0122A  10%,  #fff  100%) !important;
    background: linear-gradient(to bottom, #C0122A  10%,  #fff  100%) !important;
}

.loading .loading-container .loading-spinner:after {
    background:  #fff  !important;
}

.loading .loading-container .loading-spinner:before {
    background: -webkit-gradient(linear,left top,right top,color-stop(50%,rgba(255,255,255,0)),color-stop(50%, #C0122A ));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 50%, #C0122A  50%);
    background: linear-gradient(to right,rgba(255,255,255,0) 50%, #C0122A  50%);
}

.loading.game-launch-loader {
    background: rgba(0,0,0,0.7) !important;
}

.loading.game-launch-loader .loading-container .loading-spinner:after {
    background: rgba(0,0,0,1) !important;
}

/*White Background overlay for FLG loader, IMPORTANT IS NEEDED AS .LOADING ABOVE OVERWRITES THE OPACITY COLOR*/
.loading.game-launch-loader-flg {
    background: rgba(229, 229, 229,0.7) !important;
}

#message-centre {
    border-top: 10px solid  #A91905;
}

.maintenance-container {
    color:  #000 !important;
    background-color:  #fff !important;
}

.bar-border {
    border-radius: 25px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/*******************
   FUN PLAY Pop
*******************/

#fun-play-pop-Overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 999998;
    opacity: 0.8;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#fun-play-pop {
    color:  #333536;
    background:  #fff;
}

#ie8PopClose {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    float: right;
}

#fun-play-pop h1 {
    font-size: 24px;
    top: 170px;
    position: relative;
    max-width: 689px;
    width: 100%;
    margin-left: 8%;
}

.i8fully {
    font-size: 18px;
    max-width: 689px;
    width: 100%;
    top: 170px;
    position: relative;
    margin-left: 10%;
}

.ieAccess {
    font-size: 18px;
    max-width: 689px;
    width: 100%;
    top: 185px;
    position: relative;
    padding: 1%;
    float: none;
}

#ie8-Help {
    font-size: 18px;
    max-width: 689px;
    width: 100%;
    top: 224px;
    position: relative;
}

#browserIcons {
    position: relative;
    display: block;
    width: 380px;
    height: 70px;
    left: 22%;
    top: 39%;
}

#chromeIcon {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    float: left;
}

#firefoxIcon {
    position: relative;
    display: block;
    margin-left: 9%;
    width: 70px;
    height: 70px;
    float: left;
}

#safariIcon {
    position: relative;
    display: block;
    margin-left: 9%;
    width: 70px;
    height: 70px;
    float: left;
}

#ieIcon {
    position: relative;
    display: block;
    margin-left: 7%;
    width: 70px;
    height: 70px;
    float: left;
}

.ie8Help {
    font-size: 18px;
    max-width: 689px;
    width: 100%;
    top: 224px;
    position: relative;
    float: left;
    cursor: pointer;
}

    .ie8Help a {
        font-size: 18px;
    }

#fun-play-pop h1:lang(el) {
    font-size: 21px;
}

#browserIcons:lang(es), #browserIcons:lang(it), #browserIcons:lang(pt) {
    top: 35%;
}

#fun-play-pop h2 {
    font-size: 1.3em;
}

.fun-inner-container {
    position: relative;
    width: 95%;
    margin: 10px auto;
}

    .fun-inner-container .mdi-close {
        float: right;
        font-size: 1.2em;
        cursor: pointer;
    }

    .fun-inner-container .collapsible i {
        float: none;
        display: inline-block;
    }


.funplay-accordion {
    margin-top: 1.5rem;
}

.fun-info-container {
    position: relative;
    border-top: 1px solid #808080;
    width: 97%;
    color:  #333536;
    margin: 10px auto;
}

    .fun-info-container p {
        color:  #333536;
    }

.fun-buttons-container {
    background: none;
    border-top: 1px solid silver;
    position: relative;
    width: 95%;
    color: silver;
    margin: 10px auto;
}

.fun-terms-block {
    font-size: 15px;
}

.accept-buy-btn, .logout-buy-btn {
    margin: 3%;
    max-width: 250px;
    height: 46px;
    width: 100%;
    line-height: 46px;
    border-radius: 0px;
    color:  #fff;
    font-size: 16px;
    font-weight: normal;
    background-color: #1280ad;
}

.accept-buy-btn {
    background-color: #1280ad;
}

.logout-buy-btn {
    background-color: #6c6c6c;
}

.fun-terms-container {
    width: 130%;
    margin-left: -15%;
}

    .fun-terms-container i.mdi.mdi-chevron-double-down {
        font-size: 1.1rem;
    }

    .fun-terms-container .collapsible {
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

    .fun-terms-container .collapsible-header {
        padding: 0;
        margin-top: -15px;
    }

        .fun-terms-container .collapsible-header .inline-h2 {
            font-size: 1.1em;
            margin-left: 2rem;
            text-decoration: underline;
        }

    .fun-terms-container .collapsible-body {
        border: none;
    }

.fun-terms-block {
    width: 93%;
    max-width: 640px;
    height: 294px;
    margin: 1% auto;
    padding: 15px;
    position: relative;
    overflow: auto;
    background:  #fff;
    display: block;
    text-align: left;
}

    .fun-terms-block p {
        color:  #333536;
    }

    .fun-terms-block ul {
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

        .fun-terms-block ul li {
            list-style-type: disc;
        }



.fun-terms-container span {
    display: block;
    margin: 1%;
}
/*.fun-terms-block::-webkit-scrollbar { width: 16px;border-radius:0px;}*/
.fun-showTickBox {
    margin: 0 auto;
    margin-top: -16px;
    padding-bottom: 20px;
}

    .fun-showTickBox label {
        color:  #333536;
    }

.regular-checkbox {
    -webkit-appearance: none;
    left: 0px !important;
    position: relative !important;
    margin: -1px 0;
    background-color: #212121;
    border: 1px solid #4d4d4d;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
    padding: 9px !important;
    /* border-radius: 3px; */
    display: inline-block;
    position: relative;
    visibility: inherit !important;
}

    .regular-checkbox:active, .regular-checkbox:checked:active, .regular-checkbox:checked {
        border: none;
        border-radius: 0;
        left: 0px !important;
    }



    .regular-checkbox:checked {
        background-color: #e9ecee;
        border-radius: 0 !important;
        border: none;
    }

        .regular-checkbox:checked:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #000000;
        }

.big-checkbox {
    padding: 18px;
}

    .big-checkbox:checked:after {
        font-size: 28px;
        left: 6px;
    }

.fun-showTickBox::-webkit-scrollbar-track {
    border-radius: 0 !important;
}


.funplay-pop-btn {
    -ms-border-radius: 5px;
    border-radius: 3px;
    margin: 3%;
    max-width: 250px;
    height: 46px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

    .funplay-pop-btn.spin-palace {
        background-color: #1280ad;
    }

    .funplay-pop-btn.jackpot-city {
        background-color: #1280ad;
    }

.funplay-font {
    color:  #A91905;
    font-weight: bold;
}

.fun-inner-container-intro > img {
    width: 100%;
    /*margin-bottom: 20px;*/
}


.fun-inner-container-intro .collapsible i {
    float: none;
    display: inline-block;
}

.fun-info-container.intro, .fun-buttons-container.intro {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -4px;
}

    .fun-buttons-container.intro.border {
        border-top: 0.5px solid silver;
    }

.fun-pager-container {
    text-align: center;
    padding: 20px 0;
}

    .fun-pager-container .fun-pager-node {
        border: 2px solid #B5B5B5;
        width: 15px;
        height: 15px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        text-indent: -9999px;
        display: inline-block;
        outline: 0;
        margin: 0 auto;
        cursor: pointer;
    }

        .fun-pager-container .fun-pager-node.active {
            background-color: #777;
        }


.introjs-helperNumberLayer {
    background:  #A91905 !important;
}

.introjs-nextbutton, .introjs-donebutton {
    background:  #A91905 !important;
    color:  #fff !important;
}

.introjs-donebutton {
    float: right;
}

.introjs-nextbutton .introjs-disabled, .introjs-nextbutton .introjs-disabled:hover, .introjs-nextbutton .introjs-disabled:focus {
    color: #9a9a9a !important;
    box-shadow: none;
    cursor: default;
    background-color: #f4f4f4 !important;
    background-image: none;
    text-decoration: none;
}

.divPlaceholder {
    background-color: #fff !important;
    display: none;
}

.introjs-progressbar {
    background-color:  #A91905 !important;
}

#tourApi {
    background:  #fff !important;
    color:  #333536 !important;
    border-radius: 10px;
    border: 1px solid #555555;
}

.intro_tour {
    position: relative;
    width: 50%;
    float: right;
    display: inline-block;
    min-height: 330px;
    background:  #fff;
    border-bottom-right-radius: 15px;
}

#closeModalTour {
    right: 10px;
    position: absolute;
    top: 5px;
    font-size: 28px;
    color:  #333536 !important;
}

.message-btn-deposit {
    background-color:  #A91905 !important;
    color:  #fff !important;
}

#Survey-Promo .carousel-promo-button {
    margin: 2% 0%;
}
    /*Overwrite the important styling set on the promo button*/
    #Survey-Promo .carousel-promo-button a {
        min-width: 40% !important;
    }

#Survey-Promo .rules-link {
    margin: 2% 0%;
    text-align: left;
}

@media screen and (min-width:900px) {
    /*Overwrite the important styling set on the promo button*/
    #Survey-Promo .carousel-text-large {
        font-size: 3vw !important;
    }

    #Survey-Promo input[type=text] {
        padding-top: 0;
        height: 3rem;
    }
}

@media screen and (min-width:1400px) {
    /*Overwrite the important styling set on the promo button*/
    #Survey-Promo .carousel-text-large {
        font-size: 2vw !important;
    }

    #Survey-Promo input[type=text] {
        padding-top: 0;
        height: 2rem;
    }
}
/*ICON COLOR UPDATE*/
.filter-icon-hot {
    background: -moz-linear-gradient(top, #e7db2c 0%, #c64e42 100%);
    background: -webkit-linear-gradient(top, #e7db2c 0%,#c64e42 100%);
    background: linear-gradient(to bottom, #e7db2c 0%,#c64e42 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .filter-icon-hot.activeFilter {
        background: -moz-linear-gradient(top, #e7db2c 30%, #c64e42 70%);
        background: -webkit-linear-gradient(top, #e7db2c 30%,#c64e42 70%);
        background: linear-gradient(to bottom, #e7db2c 30%,#c64e42 70%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.filter-icon-favourite {
    background: -moz-linear-gradient(top, #e20517 0%,#630900 100%);
    background: -webkit-linear-gradient(top, #e20517 0%,#630900 100%);
    background: linear-gradient(to bottom, #e20517 0%,#630900 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .filter-icon-favourite.activeFilter {
        background: -moz-linear-gradient(top, #e20517 30%,#630900 70%);
        background: -webkit-linear-gradient(top, #e20517 30%,#630900 70%);
        background: linear-gradient(to bottom, #e20517 30%,#630900 70%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ Icon styles here */
    .filter-icon-hot {
        color: #b85d29;
        background: transparent;
    }
        /*IE Favorite and Hot games icons not being selected when on active and needed the important to activate the colour*/
        .filter-icon-hot.activeFilter {
            color: #b85d29 !important;
            background: transparent;
        }

    .filter-icon-favourite {
        color: #e20517;
        background: transparent;
    }

        .filter-icon-favourite.activeFilter {
            color: #e20517 !important;
            background: transparent;
        }
}
/*NEW GAMES MENU AND FOOTER NAV STYLES*/


.mobile-search.new-menu {
    background-color:  #333333 !important;
}

.games-menu-sticky-class {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
}

#mobile-menu .menu-settings {
    background-color:  #333333  !important;
    border: 1px solid #AA1906;
}

#fixed-navigation .fixed-action-btn ul {
    background-color:  #333333 ;
}

#fixed-navigation .fixed-action-btn li .active {
    background-color:  #333333;
}

#footer-menu-list .active-icon i {
    color:  #A91905 !important;
}

#fixed-navigation .active-item-background {
    background-color:  #A91905;
}

#fixed-navigation .active-item-border {
    background-color:  #333333 ;
}
#rmmFrameContainer {
    position: absolute;
    top: 0;
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#rmmContainer {
    z-index: 1000;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    height: 100%;
}
.stop-scrolling {
    overflow: hidden;
}
.sessiontextPreconnect {
    background:  #fff;
    background: -webkit-gradient(linear, left top, left bottom, from( #fff), color-stop(97%,  #fff), color-stop(98%,  #fff));
    background: -webkit-linear-gradient(top,  #fff 0%,  #fff 97%,  #fff 98%);
    background: linear-gradient(to bottom,  #fff 0%,  #fff 97%,  #fff 98%);
    border-bottom: 3px solid  #777C7F;
    color:  #000900 !important;
}

.colorIsmIcon {
    color:  #333536;
}