.sharedpromoterms{
    padding-left:14px;
    list-style-type:none
}

.gamesBlock{
    margin:0 auto;
    text-align:center;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    align-items:end
}
.main{
    min-width:auto!important
}
.gamesBlock h4{
    display:table-cell;
    vertical-align:middle;
    width:100%;
    margin:0;
    padding:.6rem;
    color:#fff;
    box-sizing:border-box;
    font-weight:500;
    font-size:.9em;
    line-height:1.1em;
    height:3em
}
.Slotgames span h4 {
    display: block;
    background-color: #444;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}
span.Casino_title {
    display: block;
    background-color: #444;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}
.navigation_bar > div:first-child {
    background: #000;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: auto;
    float: none
}
    .navigation_bar > div:first-child > div {
        background: #000;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 0;
        overflow-y: hidden
    }
.gamesBlock svg{
    width:40px;
    max-height:40px
}
.navigation_bar > div:first-child > div > span {
    display: inline-flex;
    flex-wrap: nowrap;
    width: fit-content;
    margin: 0 auto
}
.gamesBlock>div>div>span>span{
    display:inline-block;
    cursor:pointer
}
.gamesBlock>div>div>span>span>div,.gamesBlock>div{
    position:relative;
    float:left;
    padding:0 8px 8px 8px;
    box-sizing:border-box;
    fill:white
}
.gamesBlock>div>div>span>span>div{
    padding:10px 23px 2px
}
    .gamesBlock > div.Slotgames {
        padding: 15px;
        width: 32.666%;
    }
.gamesBlock>div>img{
    width:100%;
    height:250px;
    display:block;
    border-top-left-radius:6px;
    border-top-right-radius:6px
}

    .gamesBlock > div.Slotgames > img.slotgameimage {
        
        height: 300px;
        display: block;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px
    }

.gamesBlock h3{
    cursor:pointer;
    font-size:1em;
    color:#fff;
    font-weight:600;
    text-transform:uppercase;
    width:max-content
}
.gamesBlock div a{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.5);
    opacity:0;
    padding-top:15%;
    transition:ease-in-out .2s;
    border-radius:6px;
    margin:15px
}
.gamesBlock div a:hover{
    opacity:1;
    transition:ease-in-out .4s
}
.gamesBlock div a img{
    width:33%
}
.h3-hover-underline{
    text-decoration:underline
}
.dos_clear_fix:after{
    content:'';
    display:block;
    clear:both
}
.gamesBlock .selected{
    border-radius:7px 7px 0 0;
    background-color:#fff;
    fill:black
}
.gamesBlock .selected h3{
    color:#000
}
.top-shadow{
    box-shadow:0 0 90px 50px #000
}
.games-block-more{
    margin:20px auto;
    padding:12px 34px;
    font-size:16px;
    cursor:pointer;
    text-decoration:none;
    display:block;
    color:#fff;
    background-color:#c32d2f;
    border-radius:5px
}
.more-layout-fix{
    width:100%
}
.progressive-jackpot{
    text-align:left;
    width:100%;
    padding:1rem 0 0 1rem;
    box-sizing:border-box
}
.progressive-jackpot ul{
    list-style:none;
    font-size:1.2rem;
    padding:0 1rem;
    margin:0
}
.progressive-jackpot ul li{
    display:inline-block;
    padding:0
}
.progressive-jackpot ul>li:first-of-type::before{
    content:"$";
    padding-right:.4rem
}
.progressive-jackpot ul>li:nth-last-of-type(3n+2)::before{
    content:",";
    padding-right:0
}
.progressive-jackpot ul>li:nth-last-child(2)::before{
    content:".";
    padding-right:0
}
.progressive-jackpot h2{
    font-family:"Open Sans";
    color:#000;
    display:inline-block;
    text-transform:uppercase;
    font-size:20px;
    text-align:left
}
.progressive-jackpot div{
    padding:5px 10px;
    border:2px #db8182 solid;
    background-color:#f6e0e0;
    border-radius:5px;
    margin-left:10px;
    color:red;
    font-weight:600;
    font-size:20px;
    width:auto;
    text-align:center;
    display:inline-block
}
.aboutus_page .section .sec-title {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(#efc877, #9b764a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.aboutus_page .details {
    width: 720px;
    margin: 0 auto;
    padding-top: 20px;
}

    .aboutus_page .details .lady-bg {
        width: 350px;
        height: 380px;
        float: left;
        background: url("../images/contact.png") no-repeat center bottom;
        background-size: contain;
        margin-top: -45px;
    }

    .aboutus_page .details .info {
        padding: 30px 0 0 20px;
        float: left;
        margin-top: 55px;
    }

    .aboutus_page .details .row {
        height: 40px;
        margin-bottom: 45px;
    }

        .aboutus_page .details .row .icon {
            display: block;
            float: left;
        }

    .aboutus_page .details .desc {
        float: right;
        width: 220px;
        text-align: left;
        padding-left: 15px;
        font-size: 20px;
        padding-top: 5px;
    }

    .aboutus_page .details .row a {
        color: #fff;
        float: left;
        display: block;
        line-height: 40px;
        text-decoration: underline;
        font-size: 16px;
    }

    .aboutus_page .details .row p {
        color: #fff;
        float: left;
        display: block;
        line-height: 40px;
        font-size: 16px;
    }

@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}
@media only screen and (max-width:1365px){
    .gamesBlock>div:not(:first-child){
        width:25%
    }
}
@media only screen and (max-width:1020px){
    .gamesBlock>div:not(:first-child){
        width:33.33%
    }
}
@media only screen and (max-width:767px){
    .gamesBlock{
        padding:0
    }
    .gamesBlock>div:not(:first-child){
        width:50%;
        padding:5px
    }
    .gamesBlock div a{
        margin:5px
    }
    .progressive-jackpot{
        padding:1em 5px 0
    }
    .progressive-jackpot h2{
        font-family:"Open Sans"!important;
        width:100%;
        text-align:center;
        font-size:18px!important;
        margin:0;
        padding:0
    }
    .progressive-jackpot div{
        width:100%;
        border-radius:5px;
        margin-left:0;
        box-sizing:border-box;
        max-width:250px;
        display:block;
        margin:0 auto 10px;
        border:1px #000 solid;
        background:none;
        color:#000
    }
}

.accountinfo_content .left-div {
    float: left;
    margin-left: 50px;
    width: 200px;
    text-align: left;
}

.accountinfo_content .del-div {
    float: left;
    width: 30px;
}

.accountinfo_content .right-div {
    float: left;
    margin-left: 10px;
    width: 200px;
    text-align:left;
}


.banner, .banner-img{
    width:100%;
    height:100%;
}
.banner-img {
 background-image:none;
}